[2021-08-31 10:32] wtrocki commented on #973
Done. I could not find any other issues - having a single file for all registry was quite helpful with review

[2021-08-31 10:32] #973 closed

[2021-08-31 11:40] #932 closed

[2021-08-31 12:50] #757 closed

[2021-08-31 13:02] wtrocki opened #999 "Unified suggestions for use, create, update, delete flags (id and name)"
### Feature or problem description

We have number of commands now that provide set of flags: --name, --id. We can easily provide shell extensions for those flags (as we do in some of the commands)

[2021-08-31 13:06] craicoverflow commented on #999
Can you explain a bit more what you mean by "suggestions" - dynamic completions?

[2021-08-31 13:10] wtrocki commented on #999
When typing --id= and pressing tab we want to have command line suggestions that are common with filesystem items:
<img width="1505" alt="Screenshot 2021-08-31 at 14 09 50" src="https://user-images.githubusercontent.com/981838/131508222-be4eb593-317b-42d3-875e-7d24a523296c.png">

[2021-08-31 13:12] craicoverflow commented on #999
Thanks, that is what I thought, just confirming.

[2021-08-31 13:54] wtrocki opened #1001 "Context should be part of the factory object"
## Description

We seem to create context directly in commands. This typically should be done thru factory that will allow us to measure some extra metrics/analytics etc.

[2021-08-31 13:56] craicoverflow commented on #1001
Removing bug label as this is not a bug, it is just something not implemented.

Agreed though - or would it make sense to have it be part of `Connection`?

[2021-08-31 13:57] wtrocki commented on #1001
It would not be used only for the networking side.

As for labels. I always get them assigned by default and forget to remove them :D sorry.

[2021-08-31 13:58] craicoverflow commented on #1001
Ack 😄

You need to choose "blank issue" or "Feedback", not the "Bug template".

[2021-08-31 14:25] rkpattnaik780 opened #1002 "Erroneous message displayed for `kafka topic describe`"
## Description

**Version**: 0.27.0

Erroneous message displayed for `kafka topic describe`.

The current error message is `you are unauthorized to delete this topic`
The message should be `you are unauthorized to describe this topic`

### Steps to reproduce

1. Set context to a Kafka instance you don't own.
[code]
2. Run topic describe for a random topic name.
[code]
3. You should see
[code]

###

[2021-08-31 15:11] wtrocki opened #1003 "kafka topics create in interactive mode is broken"
## Description

Affects latest release.

`rhoas kafka topics create`

404 is returned from backend due to name variable not being used.

[2021-08-31 19:27] #1002 closed

[2021-09-01 08:52] #1003 closed

[2021-09-01 13:41] craicoverflow commented on #844
Initial implentation is now complete.

[2021-09-01 13:41] #844 closed

[2021-09-01 13:44] craicoverflow opened #1012 "Add interactive mode for the `kafka update` command"
The `kafka update` command needs an interactive mode to let users "select" the user they wish to set as the owner. This was not done in #844 because there are some changes pending on the API gateway to grant access to the rhoas-cli-prod client.

As a workaround, we can do this by logging in using the token-based login, as the cloud-services token does have access to the required endpoint.

[2021-09-01 15:42] craicoverflow opened #1021 "Add a GitHub Action to output the CLI dependencies to a `vendor` directory."
Necessary for productization purposes.

[2021-09-01 16:00] wtrocki commented on #1021
Can this be done in midstream repo? I had "pleasure" to work with vendored dependencies and it was very challenging to wrap head around - PR's were large due to dependencies being pushed, repository search were hard and overall developer experience doesn't work so well with vendor folder.

[2021-09-02 08:04] craicoverflow commented on #1021
Yeah, i Had found it a bit tricky to get working in the midstream, having this as a fallback. I should give it another go though soon.

[2021-09-02 08:16] wtrocki commented on #1021
Do not get me wrong. Do what you need to do, but if there is a way to avoid it lets avoid it

[2021-09-02 10:24] rkpattnaik780 commented on #990
@wtrocki for the explicit mode, do we want to give the user option to connect to multiple services?
Maybe we can have something like (scope of improvement in how we pass service names):
[code]

[2021-09-02 10:28] wtrocki commented on #990
Would that be cool? Yes! Would that give better experience? Not sure as we will lose ability to suggest things in CLI?
Would that lead to very complex CLI code? Yes.

My take is that while we could try to connect multiple services handing this will be nightmare - what will happen if one service connects successfully and second failed? If we combine that with async API of kubernetes that would be c

[2021-09-02 10:51] wtrocki commented on #800
@b1zzu What is your stance about this? Do you have any overlaping targets to support service registry backend and use CLI to create registry + artifacts?

[2021-09-02 11:15] craicoverflow commented on #915
@wtrocki I have set this as "important-longterm", please change it if this is inaccurate.

[2021-09-02 11:17] craicoverflow commented on #990
Could someone assess and set a priority label on this issue please?

[2021-09-02 11:53] wtrocki commented on #990
Done! Apologies for not doing it this in the first place.

[2021-09-02 15:54] craicoverflow opened #1024 "Use ✔️ emoji in success messages"
Emoji are commonly used in nowadays to enhance the visual output of the CLI.

[code]

It is a small, nice-to-have feature but I feel it would be a great addition.

[2021-09-02 15:57] craicoverflow opened #1025 "Prefix error messages with "❌""
We could prefix all error messages with an "❌" emoji to replace the "Error" prefix.

[code]

This will enhance the visual output of the CLI.

[2021-09-02 20:34] #904 closed

[2021-09-03 10:38] wtrocki commented on #1025
I like it but we would probably need some community member with windows machine to do it.

[2021-09-03 10:43] craicoverflow commented on #1025
That is true.

[2021-09-03 10:46] wtrocki commented on #995
Finished investigation and done demo. Nothing to do more right now

[2021-09-03 10:46] #995 closed

[2021-09-03 11:58] #763 closed

[2021-09-03 14:02] b1zzu commented on #800
@wtrocki yes we have a Jira task for it (not posting it here because is private), I can link this issue to the Jira task and we can close it together with the Jira task once is completed

[2021-09-03 14:02] #800 closed

[2021-09-06 10:54] craicoverflow opened #1029 "Run `go mod tidy` on each pull request and fail the build if there are changes"
We will be outputting the vendor directory in the midstream repo, and this will prevent any possible conflicts.

[2021-09-06 11:12] craicoverflow commented on #1029
Actually this is not needed: https://github.blog/changelog/2020-10-19-dependabot-go-mod-tidy-and-vendor-support/

[2021-09-06 11:12] #1029 closed

[2021-09-06 11:14] #989 closed

[2021-09-06 11:30] wtrocki opened #1032 "Replace use i18n commands names with explicit strings"
Use will not change depending on the language - those are actual documented commands etc.

See this PR for example

_Originally posted by @rkpattnaik780 in https://github.com/redhat-developer/app-services-cli/issues/1030#issuecomment-913572953_

[2021-09-06 11:36] #1021 closed

[2021-09-06 12:59] craicoverflow opened #1034 "`--verbose/-v` flag is not working in commands with one subcommand"
## Description

When you run a command which has a single subcommand, the `verbose` flag is ineffective.

Example: run `rhoas login -v`

### Expected vs actual behaviour

Expected behaviour:

[code]

Actual behaviour:

[code]

[2021-09-06 13:11] rkpattnaik780 commented on #1034
Happens for other sub-commands as well, e.g not able to see `Starting interactive prompt` for topic and service account create operations.

[2021-09-06 13:51] wtrocki opened #1035 "rhoas service-registry artifact state"
### Feature or problem description

Add ability to change state of the artifact:

Values:
[code]

[2021-09-06 15:50] craicoverflow opened #1036 "Explore usage of editor from AlecAivazis/survey instead of custom one"
We have created a custom editor to modify file contents from the CLI using the user's editor.

This feature also exists in [AlecAivazis/survey ](https://github.com/AlecAivazis/survey#editor), which we are using already in interactive prompts.

It would be better to use this package if possible.

[2021-09-06 16:08] wtrocki commented on #1036
Apologies. I should have checked survey before. I will take it over and clean things up now

[2021-09-06 18:26] kabir opened #1038 "rhoas cluster bind not having any effect"
## Description

**Version**: 0.28.0

`rhoas cluster bind` doesn't seem to have any effect.

### Steps to reproduce

1) After running `rhoas cluster connect` it tells me to use `rhoas cluster bind `.
I then try to do that and get an error (the application is not deployed yet):
[code]

2) I then do a `helm install reactive-messaging-qs ...` followed immediately after by `rhoas cluster bind --app-nam

[2021-09-06 18:32] kabir opened #1039 "Dry run mode for bind"
### Feature or problem description
@wtrocki asked me to open this, but the jargon is new to me so the title might be wrong.

Currently if I try to run `rhoas bind` before deploying an application, I get an error:
[code]

### Proposed solution

It would be nice to have a mechanism (possibly with a dry-run/lenient/force flag?) to be able to add the service binding before deploying the application.

[2021-09-07 09:01] wtrocki commented on #1038
@pedjak There seems to be race condition between Binding Operator updating resources and other external updates from helm.  In my mind we cannot do much about it as update happens outside service bininding scope (helm overrides config).

Do we have any recommendations how to handle this cases? Edit binding in order to be reprocessed?

[2021-09-07 09:32] pedjak commented on #1038
@wtrocki a service binding can be added to the cluster, even if both service and application do not exist at that moment. The operator will try to reconcile and is going to fail, but the binding will be  put back into the queue and recheck after some delay. The delay is going to increase with each next failure exponentially (exponential back off). A lot of details can be found here:

[2021-09-07 09:37] wtrocki commented on #1038
@pedjak so generally we cannot do much about this problem rather than document it to the end users?

[2021-09-07 10:18] pedjak commented on #1038
I would rather first deploy both service and application and then add service binding finally.

[2021-09-07 11:33] wtrocki commented on #1036
I found implementation of that inferior to what we have right now.
It has some bugs (sometimes editor opens for me with empty content - race condition?)
There is requirement to hit enter and after editor opens this enter gets printed etc.

Overal experience is much worse IMHO, but I will try to hack it so we can stop maintaining this custom code.

<img width="1169" alt="Screenshot 2021-09-07 at 11

[2021-09-07 12:19] craicoverflow commented on #1036
Yeah, thanks for investigating, I just saw this while checking their docs and have not tried it myself. Happy to keep as is.

[2021-09-07 12:26] kabir commented on #1038
From our side CC @jmesnil that is slightly less friendly to the user than what we did so far which was apply the service binding yaml directly before deploying the application via Helm. Although, you might be right there would have been a delay between the applying of the service binding and deploying the application.

[2021-09-07 12:37] jmesnil commented on #1038
imho, the service binding should not be dependent on the order of creation go the services and the binding requests.

Would it be possible for the service binding operator to trigger reconciliation without rate limitation when one or both of the resources to binds are not present?
I suspect this is treated as an error (thus triggering an exponential backoff) while this is a typical use case. There

[2021-09-07 13:11] kabir commented on #1038
@Jeff the connect and the service binding is actually a two phase thing

1) `rhoas kafka connect`
2) oc apply the service binding - which is now replaced by a `rhoas bind` (oc apply still works)

Then we deploy the application, but still I think the gist of why at you say is how it should ideally work. This is why we rewrote the QS to use Helm since with the oc apply service binding approach it ju

[2021-09-07 13:14] pedjak commented on #1038
And it does not. We have a number of tests verifying that. The time for retry after each failure get doubled, but it is limited to 1000 seconds. SBO does not give up so quickly, but I might be that it does not try to reconcile so often after a while.

After several attempt to bind, the next reconciliation would be retried in cca 16mins or so, and then at that rate. Can you confirm that binding doe

[2021-09-07 13:37] #1036 closed

[2021-09-07 14:20] wtrocki opened #1043 "service registry rbac commands"
### Feature or problem description

rhoas service-registry artifact role-mapping
Should we support managing role mappings in the CLI?

What is this?

The service registry has its own internal role management or permissions system that was built as a temporary solution until a full CIAM system is built.  Role mappings can be managed within the registry application via the “/admin/roleMappings” endp

[2021-09-07 14:22] kabir commented on #1038
Actually I see that I have confused this with my other issue #1039 which is more concerned with the ordering.
The issue for this one is that `rhoas bind` does not seem to do anything  :)

I've tried:
1) `rhoas cluster connect ...`
2) `helm deploy ....` to get a 'broken app' (no /bindings directory)
3) `rhoas cluster bind ...` - this takes down the pod and reloads it, which again causes problems

I

[2021-09-07 14:32] wtrocki commented on #1039
@kabir Thank you for reporting issue. I think this is good idea but we need to call out general strategy for bind command in the CLI

[2021-09-07 14:34] wtrocki opened #1044 "Finalize analytics implementation"
### Feature or problem description

https://github.com/redhat-developer/app-services-cli/pull/1005

[2021-09-07 14:42] #934 closed

[2021-09-07 15:00] kabir commented on #1038
Correction: earlier the service binding name was `kafka-config` (not `kabir-kafka`)which was the name of the binding spat out from `rhoas cluster connect` command. The current `kabir-kafka-xxxx` is from the name of the kafka cluster.

I see a `--binding-name` argument to `rhoas kafka bind` which seems to be the resulting `/bindings` directory sub folder. I will correct this to `--binding-name=kafk

[2021-09-07 15:08] kabir commented on #1038
Cool, so with `rhoas cluster bind --app-name=reactive-messaging-qs --binding-name=kafka-config` it works as it used to do.

[2021-09-08 08:26] #1024 closed

[2021-09-08 08:26] #1025 closed

[2021-09-08 11:52] alexal commented on #1032
@wtrocki please review PR #1048

[2021-09-08 12:39] wtrocki opened #1049 "No automatic updates for go-sdk"
### Feature or problem description

Releases on go sdk are not triggering renovate PRs.
Possible misconfiguration in config

[2021-09-08 15:09] #1049 closed

[2021-09-08 15:55] wtrocki commented on #915
done quick investigation for splitting this context. I is not that trivial.
We have 2-3 goals mixed here:

1) Making it easy to contribute to rhoas CLI
2) Making RHOAS CLI SDK (aka charmil)
3) Enabling upstream CLI's to exist as separate entities.

Relativistically we can think of 1 and maybe doing some of 2. 3 seems to be doable only once we nail SDK part and have some success stories with integr

[2021-09-08 18:33] alexal commented on #1001
@wtrocki assign this to me, please.

[2021-09-08 19:12] craicoverflow commented on #1001
The reason I mentioned this was because there is a special OAuth context that is available which attaches Bearer tokens to every request. I think we can ignore that for now though.

[2021-09-09 15:03] #992 closed

[2021-09-09 15:35] #1001 closed

[2021-09-09 17:28] alexal commented on #1034
Please see my comments in #1051 but basically debutEnabled is always equals to false because we set it before add a verbose flag.

[2021-09-10 00:52] alexal opened #1057 "rhoas kafka create - 429 Too Many Requests"
Right now, if you have created one Kafka instance and try to create another one, you will get the following error

[code]

With -v flag enabled, you will see the actual reason of 429 error

`{"id":"24","kind":"Error","href":"/api/kafkas_mgmt/v1/errors/24","code":"KAFKAS-MGMT-24","reason":"only one eval instance is allowed","operation_id":"c4tal4oc3kjol9oa6a0g"}`

However, my question is, should we

[2021-09-10 07:00] wtrocki commented on #1057
we should

[2021-09-10 08:05] craicoverflow commented on #1057
Yes. Myself and @wtrocki were discussing options on how to reliably check the meaning of the error codes from the backend.

I think in the meantime though we should print the error "reason" from the backend.

[2021-09-10 08:09] wtrocki commented on #1057
@craicoverflow I do that already in registry (using helper to cast to APIError). Plan was to also do the same for kafka. +1 from me

[2021-09-10 08:12] craicoverflow commented on #1057
Agreed.

[2021-09-10 09:28] craicoverflow commented on #1057
I'm seeing some cases where this is not being done. Maybe it is not applied everywhere?

[code]

[2021-09-10 09:49] wtrocki commented on #1057
Yes.. Registry artifacts only for now

[2021-09-10 09:53] craicoverflow opened #1058 "Make all `Options` in commands private"
The Options type in every command is public. This was originally done at the beginning with the anticipation is being used in tests, but since there is no need anymore, we can make all options private now.

[2021-09-10 11:30] alexal commented on #1058
I will work on this.

[2021-09-10 11:59] wtrocki commented on #1058
Options is also bad name. Wdyt about `inputArgs`

[2021-09-10 12:00] craicoverflow commented on #1058
`args` is good.

[2021-09-10 12:01] craicoverflow commented on #1058
Out of curiosity, why is it a bad name?

[2021-09-10 13:29] #1058 closed

[2021-09-10 13:57] alexal commented on #1057
@craicoverflow, @wtrocki I would love to work on this problem.

[2021-09-10 14:01] craicoverflow commented on #1057
Sure thing @alexal. It is a good idea to suggest a couple of ways to address this problem as the way to implement it is not trivial.

We can converse on this issue until a collective agreement is made. This can save you time in the long run and help build a better solution :)

[2021-09-13 09:55] wtrocki commented on #1057
There is couple problems here:

- SDK should have common APIError object that can be used to cast error coming from API.
This way we can provide generic method to read reason

- Each SDK should map the error code - handling for that will be in SDK - I'm doing some preliminary work to enable that.

This needs more across the board work, but it is high on our priority list.

[2021-09-13 11:23] #1034 closed

[2021-09-13 11:25] wtrocki opened #1062 "Remove shortcuts from artifacts commands"
We need to remove -a from +5 commands

_Originally posted by @wtrocki in https://github.com/redhat-developer/app-services-cli/pull/1054#discussion_r706049719_

[2021-09-13 11:39] alexal commented on #1062
I didn't see that this issue was assigned already, sorry :-)

[2021-09-13 12:20] wtrocki commented on #1062
@alexal no worries. Typically labels `needs-triage` are off the grid for taking as we need to discuss them, but this one was obvious.  Seen your PR - good job

[2021-09-13 12:20] #1062 closed

[2021-09-13 12:51] #636 closed

[2021-09-13 15:29] craicoverflow commented on #1057
@alexal has a good approach for the short term in https://github.com/redhat-developer/app-services-cli/pull/1064 - however I think we need to handle this in `main.go`. A switch statement which performs a type check for the error codes from each services.

This psuedocode is kind of what I was thinking).
[code]

[2021-09-13 16:19] wtrocki commented on #1057
[code]

This is ok but there is common Error class that is in every SDK right now so my proposal was to always return some error interface and rely on the same `code` and `reason` field.

Our error handling should be:

- Local in case of specific error codes that we expect from backend - LIke terms not accepted.
- Global as you have suggested for cases of other stuff we do not predict specifically

[2021-09-13 17:56] alexal commented on #1057
@wtrocki I see Error struct (I'm already using it in the proposed code), but not the interface. Could you please point me to the class you was talking about?

[2021-09-13 18:12] wtrocki commented on #1057
I will go step by step. Do what enda proposed. then we can improve sdk

[2021-09-13 18:35] alexal commented on #1057
Something like this https://github.com/redhat-developer/app-services-cli/pull/1064/commits/d7e678bbac328fa483600f5a828042f448b3e8cf ?

[2021-09-13 18:36] wtrocki commented on #1057
Yes. good starr

[2021-09-13 18:36] alexal commented on #1057
![image](https://user-images.githubusercontent.com/499857/133138256-a5b69e67-a2bc-4100-9ac4-0247e697d92f.png)

[2021-09-13 19:10] alexal commented on #1057
I've added two more registryinstanceclient & registrymgmtclient

![image](https://user-images.githubusercontent.com/499857/133142430-c0f42829-7bc8-47fd-8d39-c9a40c0f1ab6.png)

[2021-09-14 08:13] craicoverflow commented on #1057
Unless we strictly enforce that, then not all error objects are the same. Data plane APIs do not conform to the api.openshift.com standards. It may maybe sense so have an error casting helper in every individual SDK, in Go especially since they are independent. This can also future proof the SDK from breaking changes if the error type from differetn SDKs diverge.

[2021-09-14 08:14] craicoverflow commented on #1057
Go does not have the concept of a "class", a struct is the closest thing to a class though.

[2021-09-14 08:58] #1035 closed

[2021-09-14 09:48] #1012 closed

[2021-09-14 10:32] wtrocki commented on #1043
I have done some investigation and talk with the service registry team on how we can do it:

First we need to have `cli commands` to be able to fetch your users in the organization as this will be used to set proper principals. We already have method to list service-accounts.

It feels like we can group those separately into new user/account command group?

Then later phase we need to think about

[2021-09-14 11:25] wtrocki commented on #1043
FYI @secondsun @craicoverflow

[2021-09-14 13:03] wtrocki commented on #1043
Open questions I have are:

- Can we have interactive mode for the role? It could look like this:
[code]

[2021-09-14 13:45] wtrocki opened #1065 "rhoas cluster disconnect"
### Feature or problem description

New command should revert results of the cluster connect and cluster bind commands.

[code]

[2021-09-14 13:48] wtrocki commented on #1065
CC @rkpattnaik780 dropped needs-triage but we can discuss that for refactoring of the cluster commands.

[2021-09-14 15:00] craicoverflow opened #1067 "Improvements in the `dump` package"
The `PrintDataInFormat` method could do with some minor changes to improve it.

- [ ] Change the name to something cleaner, and shorter. `DumpFormatted` is my preferred (fewer words used), I am open to other suggestions.
- [ ] The `io.Writer` parameter always comes first in a Go method which uses that writer. Let's put it first here too.
- [ ] Return an error if any from this method. We should not

[2021-09-15 08:51] wtrocki opened #1069 "Period at the end of the token prevents users from visiting token page"
### Feature or problem description

Period at the end of the token prevents users from visiting token page.
Should we enable opening browser window automatically with the token page?

[2021-09-15 08:55] wtrocki opened #1070 "Allow to reuse service account when it already exist on the namespace"
### Feature or problem description

`why can it not "reuse" a ServiceAccount previously generated for the CLI?`

We have couple ways to fix this:

- Fail when service account exists
- Ask user what to do - reuse/replace?
- Always reuse.

[2021-09-15 08:57] craicoverflow commented on #1069
The user could be in a headless environment so we would need to cater for that. We could auto-open the browser but I feel that there should also be an option to not do this.

[2021-09-15 09:08] craicoverflow commented on #1069
Also - if the user is using console.redhat.com in a private window, or their non-default browser then I think the default browser will always open, which is a slight nuisance.

[2021-09-15 09:10] wtrocki commented on #1069
Headless environments use --token. This problem happens in interactive mode that will not be enabled in headles mode.

[2021-09-15 10:52] wtrocki opened #1071 "Build set of the commands based on the guides and blogs to ensure compatibility of the bind and connect"
Build set of the commands based on the guides and blogs to ensure compatibility of the bind and connect

[2021-09-15 15:28] wtrocki opened #1072 "Change way errors are localized"
## Description

Multiple occurrences of errors.New(opts.localizer.MustLocalize should be changed to opts.localizer.MustLocalizeError

[2021-09-15 15:29] wtrocki commented on #1072
Requested by @craicoverflow

[2021-09-15 15:30] craicoverflow commented on #1072
Removing "bug" label.

[2021-09-15 15:30] alexal commented on #1072
Assign this to me, please.

[2021-09-15 16:10] wtrocki commented on #1043
Oh hold!

[2021-09-16 13:31] craicoverflow opened #1074 "Incorrect prompt text for `rhoas kafka use`"
[code]

Select Kafka instance to "connect" is inacxcurate. I believe this is being used also in the `cluster connect` command. We need a distinct prompt title which relates to "using" an instance.

[2021-09-16 13:31] #905 closed

[2021-09-16 14:34] wtrocki commented on #1038
We are planning to improve bind command in the next release. Thank you for the discussion points

[2021-09-16 15:43] #1072 closed

[2021-09-16 15:46] craicoverflow opened #1076 "Create a custom linter which can detect if a i18n message ID does not exist."
I think it is entirely possible for us to create a custom linter which can be included as part of `golanci-lint` which can detect missing i18n message IDs and fail the build.

When `MustLocalize` or `MustLocalizerError` are used, the linter would look up the i18n locales directory and try to find the ID. If it does not exist, the linter would throw and error.

We can create a private linter by fol

[2021-09-16 15:47] alexal commented on #1076
Interesting, I would love to work on this.

[2021-09-16 15:48] wtrocki commented on #1076
@alexal I have done some experiments for that already using golang ast:

https://www.zupzup.org/go-ast-traversal/

[2021-09-16 15:49] craicoverflow commented on #1076
Nice! Check out this document on how to get started adding a private linter: https://golangci-lint.run/contributing/new-linters/#how-to-add-a-private-linter-to-golangci-lint

[2021-09-16 15:51] alexal commented on #1076
Thanks for the useful links. I will check them out, please assign this issue to me.

[2021-09-16 16:39] alexal commented on #1074
As InteractiveSelect() function is used in the multiple places, maybe it is easy just to change a text message to "Select Kafka instance"?

[2021-09-16 16:50] alexal commented on #1067
I propose to use just `Formatted` as the function name to remove package name duplication from it.

[2021-09-16 17:59] alexal commented on #1067
@craicoverflow I did everything except the last item. Could you please provide more information about it?

[2021-09-17 07:58] craicoverflow commented on #1067
[code]

[2021-09-17 07:59] craicoverflow commented on #1074
Yes, I like that :)

[2021-09-17 09:15] #1067 closed

[2021-09-17 14:07] #1074 closed

[2021-09-17 14:56] wtrocki opened #1083 "Registry --group=default prints message about missing group"
## Description

Regression introduced in last release prints out message about using default group even if someone specifies group explicitly.

[code]

[2021-09-17 15:33] fvaleri opened #1085 "Missing URL to UI"
Suppose I created my SR instance/tenant:

[code]

Now, I have no idea how to access the web UI, for example to set artifact's policies.

Ideally, I would get the web UI URL in the previous response, but also in the output of`rhoas service-registry list`.

[2021-09-17 15:38] wtrocki commented on #1085
@EricWittmann @jsenco - WDYT about having harcoded url to UI returned from SRS backend? I can create issue on SRS side and contribute back that change. It is more about what do you think?

If we hardcode that we going to have invalid URL for QA env but that is something that is not going to affect users etc.

[2021-09-17 15:39] wtrocki commented on #1085
@jsenko

[2021-09-20 11:32] wtrocki opened #1086 "Use Service Registry Terms and Conditions check instead of Kafka"
### Feature or problem description

Use Service Registry Terms and Conditions check instead of Kafka - when creating Registry instance

[2021-09-20 11:47] craicoverflow opened #1087 "Create initial website/guidelines format and structure with headings"
A new sub-folder should be added to the `docs` folder called `guidelines` (or similar).

This should contain a **Markdown** file with the top-level headings for the CLI guidelines. These will act as placeholders.

Here are the current headings we can start with:

- Output
- Errors
- Input
- Interactivity
- Sub-commands
- Robustness

[2021-09-20 12:30] paoloantinori commented on #1086
on the UI side this is the tracker: https://issues.redhat.com/browse/MGDSTRM-5165

[2021-09-20 13:45] craicoverflow opened #1088 "CLI Guidelines: Output"
- Exit codes
- When to use stdout and when to use stderr
- Machine-readable output (when to use)
- Color vs no color
- It would be better to colorize the output for better readability
- Internationalization of text
- The output messages should be better
- An option to print output in table format would be a good addition to the yaml and json options

Look to https://clig.dev/#output for inspiratio

[2021-09-20 13:46] craicoverflow commented on #1088
Yes, although I think "plain" is more common. We can research the best flag name.

[2021-09-20 14:47] craicoverflow opened #1091 "CLI Guidelines: Arguments and flags"
Look to [#arguments-and-flags](https://clig.dev/#arguments-and-flags) for inspiration.

- Prefer flags to args
- List current common flags (output, yes, output-file etc)
- Link [https://www.gnu.org/prep/standards/html_node/Command_002dLine-Interfaces.html](https://www.gnu.org/prep/standards/html_node/Command_002dLine-Interfaces.html) for adding nerw flags
- Only use one-letter flags for commonly u

[2021-09-20 14:53] craicoverflow opened #1092 "For the `update` commands, do not display the updated object as JSON by default."
Running `rhoas kafka topic update` will by default print the topic configuration to stdout. This is a massive object and it is unlikely that the user needs to see it. We should default to printing a simple success message by default, and allow users to use the output flag to output the object.

[2021-09-20 14:53] craicoverflow commented on #1092
@rkpattnaik780 @wtrocki thoughts on this?

[2021-09-20 15:15] craicoverflow opened #1093 "CLI Guidelines: Errors"
- Start with lowercase in most cases (the exception being when referring to the official name of a thing like Kafka)
- Use concise, contextual information in the error. For example, you can include the name of the Kafka instance in which the error occurred
- Always map error to proper i18n string (never return os error or error you cannot predict)
- Error should not include any json or debug infor

[2021-09-20 15:24] wtrocki commented on #1092
+1. I had the same question on service registry and settled with message instead of printing json

[2021-09-20 15:56] craicoverflow commented on #1092
Something like the following would be good:

[code]

[2021-09-20 16:08] craicoverflow opened #1094 "Add visual spinner to the login command"
We should use the visual spinner in the login command to indicate the action is in progress.

[2021-09-20 16:10] #911 closed

[2021-09-20 16:27] wtrocki opened #1095 "Add validation for service account/user roles in service registry role commands"
### Feature or problem description

 Add validation for service account/user roles in service registry role commands.

service-registry role add command should validate service account name and username provided by CLI before creating rules

[2021-09-20 18:35] alexal commented on #1076
@wtrocki , @craicoverflow here are the results from the first working prototype. I'm still working on it, just want to show the progress. If you do not mind keeping those strings untranslated for some time, as I'm using app-services-cli project for testing with large number of files (go as well as toml).
[code]

[2021-09-21 08:18] craicoverflow commented on #1076
This is really really cool @alexal 🎆

[2021-09-21 09:00] wtrocki commented on #1076
Nice!

[2021-09-21 09:44] craicoverflow opened #1098 "`rhoas docs` command to generate documentation in multiple formats"
### Feature or problem description

I want to be able to generate documentation files locally in multiple formats. Currently, running the root command along with `GENERATE_DOCS=true` will generate documentation in Asciidoc format. Ideally we should be able to generate Markdown and Man pages also.

I mainly need to generate Man docs for official builds.

### Proposed solution

`rhoas docs -o ./docs

[2021-09-21 10:17] wtrocki commented on #1098
Amazing idea! this way we can have upstream documentation

[2021-09-21 12:53] EricWittmann commented on #1085
We shouldn't hardcode the URL.  It's easy enough to make it configurable.  Then it works in both environments.

[2021-09-21 13:09] wtrocki commented on #1085
@EricWittmann thank you for tracking this issue. We will update CLI once url is returned by backend

[2021-09-21 13:11] jsenko commented on #1085
So the idea is to add a new field, e.g. `ui_url` to the response?

[2021-09-21 13:16] craicoverflow opened #1100 "CLI Guidelines: Arguments and Flags"
Create CLI guidelines section that will cover arguments and flags (separate md file)

- Arguments (patterns and descriptions)
- Flags (patterns and descriptions)
- List common flags in used in CLI (--yes, --output-file, --output etc)
- Default values

See https://clig.dev/#arguments-and-flags for inspiration

[2021-09-21 14:51] EricWittmann commented on #1085
I like `browser_url` or `ui_url`.  But all good choices. :)

[2021-09-22 11:57] #1094 closed

[2021-09-22 12:51] alexal commented on #1076
@wtrocki , @craicoverflow I'm almost done. The linter itself is working just fine, I'm working on updating the README now. I just want to check with both of you. What is the preference here in terms of delivering it? Try to push that new linter to golangci-lint repo or create a private linter plugin?

[2021-09-22 13:14] craicoverflow commented on #1076
This won't have any usage outside of this repo since it is coupled to our custom Localizer interface so it should be private. Perhaps in the future it could become its own thing :)

[2021-09-22 13:16] wtrocki commented on #1076
We can contribute that interface back to the upstream and propose linter there - author looks for contributors etc.

[2021-09-22 15:17] wtrocki opened #1103 "Login using Device Authorization Grant"
Just a heads up that Device Authorization Grant support is coming  soon. Once this is rolled out, we'll start trying to get clients who are either using direct access grants (aka DAG–not to be confused with Device Authorization Grant 🤦–aka resource owner password credential grants aka ROPC) or relying on copying offline tokens to switch.

We should evaluate that usase in the CLI

[2021-09-22 18:45] alexal commented on #1076
Looks like I have to use go version 1.15 when building the plugin.

[2021-09-23 08:58] wtrocki opened #1106 "Kafka limits for eval instances are not properly handled in the CLI"
We need to detect this error type and return message to user.

## Error details

{"id":"24","kind":"Error","href":"/api/kafkas_mgmt/v1/errors/24","code":"KAFKAS-MGMT-24","reason":"only one eval instance is allowed","operation_id":"c5641htrvpbniolbrat0"}

[2021-09-23 10:25] wtrocki opened #1107 "Cannot set service account role (user still gets permission errors)"
## Description

service-account-srvc-acct-900ffc47-27ce-43c3-a403-b8ccf5960396  seems to be proper format but that is nowhere to be found in the CLI output.  Issue

https://issues.redhat.com/browse/MGDSTRM-5480

[2021-09-23 10:37] rkpattnaik780 opened #1109 "`rhoas status` not displaying service registry status by default"
### Feature or problem description

`rhoas status` status command should display status of service-registry instance by default.

### Proposed solution

Add `service-registry` to list of allowed services and remove dev preview check.

[2021-09-23 10:38] rkpattnaik780 commented on #1109
Cc @wtrocki

[2021-09-23 12:08] alexal commented on #1076
The plugin is definitely working once I use it with golangci-lint that I built locally

![image](https://user-images.githubusercontent.com/499857/134503629-c50509e2-1c46-40a7-a189-903a7174737f.png)

@wtrocki, @craicoverflow do you have any ideas on how to resolve this problem? Do we need to build our own golangci-lint?

[2021-09-23 12:47] rkpattnaik780 opened #1110 "`rhoas service-registry use` not working with interactive mode"
## Description

`rhoas service-registry use` fails with `Unable to list Service Registry instances: 500 Internal Server Error. Run the command in verbose mode using the -v flag to see more information`

[code]

### Steps to reproduce

1. Run rhoas service-registry use interactively:
[code]
2. It should throw the error
[code]

### Expected behaviour

Should prompt existing instance names to choose

[2021-09-23 12:47] craicoverflow commented on #1076
I think if you open a draft PR with the current changes we might be able to try it out and help with a solution.

[2021-09-23 12:58] rkpattnaik780 opened #1111 "Client side validation for `rhoas service-registry list`"
## Description

CLI should validate inputs provided for flags `--page` and `--limit`.

Providing a non-positive value throws error 500 with reason `Unspecified error`

### Steps to reproduce

1. Run service-registry list command with limit = 0.
[code]

### Expected behaviour

Client should throw error that positive values are to be provided.

### Logs

![Screenshot from 2021-09-23 18-26-48](https:

[2021-09-23 13:05] wtrocki opened #1112 "Kafka topics interactive mode is breaking validation for kafka"

[2021-09-23 14:06] #1112 closed

[2021-09-23 14:21] wtrocki opened #1114 "rhoas service-registry artifact update - Add a note that this should conform to validit and compatability rules"
## Description

rhoas service-registry artifact update - Add a note that this should conform to validity and compatibility rules

[2021-09-23 14:22] wtrocki opened #1115 "rhoas service-registry create missing description flag"
## Description

rhoas service-registry describe/rhoas service-registry create - missing description field?

[2021-09-23 14:23] wtrocki opened #1116 "rhoas service-registry role missing clarity on"
## Description

Typo: Roles can be applied to users and service accounts generated by cli.
It should be service account name /clarified how to get that value

[2021-09-23 14:28] rkpattnaik780 opened #1117 "Artifact name goes missing for any type other than OPENAPI"
## Description

If we create artifacts of type AVRO and OPENAPI using same json input file, name gets lost for type AVRO.
It can be later provided/modified using `set-metadata`. Is this expected?

### Steps to reproduce

1. Create two different artifacts of type OPENAPI and AVRO using the same input file (which must contain value for `info.title`.
2. `rhoas artifact list` should show both the crea

[2021-09-23 14:36] wtrocki commented on #1117
@rkpattnaik780 avro should have different format/content so we should not be using the same file.
If we use OpenAPI file that will be openapi - and it should be autodetected. If we use Avro it should be the same.

[2021-09-23 14:37] wtrocki opened #1118 "[Feedback] Creation of the service account should print another follow up actions"
### Feature or problem description

Service account now will not be usable on it's own and it require permissions.
We should print that information when creating service accounts

[2021-09-23 14:37] wtrocki opened #1119 "Build base command for supplying ACL-Rules"
### Feature or problem description

[2021-09-23 14:39] #589 closed

[2021-09-23 14:39] #1043 closed

[2021-09-23 14:40] wtrocki commented on #1071
CC @rkpattnaik780 actually there is just one type of usage which is using interactive mode.
This is great news meaning that we can modify it and still provide compatibility.

[2021-09-23 14:40] #1071 closed

[2021-09-23 14:47] rkpattnaik780 opened #1120 "`rhoas service-registry artifact state-set` should have `--state` flag as required"
## Description

Omitting `--state` flag for `rhoas service-registry artifact state-set` throws error "Invalid value '' for ArtifactState: valid values are [ENABLED DISABLED DEPRECATED]."

### Steps to reproduce

1. Run artifact state-set command without `--state` flag
[code]
2. It should throw the error:
[code]

### Expected vs actual behaviour

The error should be flag is compulsory rather than i

[2021-09-23 14:50] rkpattnaik780 commented on #1117
Thanks for the clarification. Closing this issue.

[2021-09-23 14:50] #1117 closed

[2021-09-23 14:50] wtrocki commented on #1120
Awesome! Ugly bug or can be just request for interactive mode :)

[2021-09-23 14:56] rkpattnaik780 opened #1121 "Use cobra methods to mark flag as required"
## Description

Certain commands manually check if flag is provided using if statements.

Example: pkg/cmd/registry/artifact/state/state.go

[code]

A better approach:

[code]

[2021-09-23 14:56] wtrocki opened #1122 "oc cluster connect doesn't handle well missing authorization on kubernetes side"
## Description

We get very cryptic return status:

[code]

We should inform user that they should login again.

[2021-09-23 14:57] wtrocki opened #1123 "User should be able to specify their own service account when doing cluster connect"
## Description

User should be able to specify their own service account when doing cluster connect.
We should be able to reuse service account (if it is there) and allow user to specify their own if needed.

[2021-09-23 14:57] wtrocki commented on #1123
One of the requirements comming from jira/@DuncanDoyle

[2021-09-23 15:00] wtrocki commented on #1121
I question if that is better. Provided approach using non i18n format that cannot be controlled or changed by docs team.

[2021-09-23 15:08] rkpattnaik780 commented on #1121
This could be a good topic for discussion, we should zero in on one approach and follow it throughout.

[2021-09-23 15:14] craicoverflow commented on #1121
Using the built-in `MarkFlagRequired` ensures that Bash completions are aware that this is a required flag I think.

[code]

[2021-09-23 15:17] wtrocki commented on #1121
Good point. We need to investigate if we can change message for err in this case etc. :D

[2021-09-23 15:49] #1083 closed

[2021-09-23 16:05] wtrocki commented on #1106
https://github.com/redhat-developer/app-services-cli/pull/1128

[2021-09-23 16:05] #1106 closed

[2021-09-23 16:09] #1107 closed

[2021-09-23 16:15] wtrocki commented on #1109
@rkpattnaik780 totally forgot about this extra check. Adding it now

[2021-09-23 16:21] wtrocki opened #1130 "rhoas status prints 2 formats at the same time"

[2021-09-23 16:21] #1130 closed

[2021-09-23 16:22] #1109 closed

[2021-09-23 16:25] wtrocki commented on #1110
Done! good catch!

[2021-09-23 16:25] #1110 closed

[2021-09-23 16:29] wtrocki commented on #1085
FYI
I see this merged on backend and have this supported in the SDK but still do not see this field returned.

[2021-09-23 16:32] wtrocki commented on #1111
We need the same for kafka.

[2021-09-23 16:35] #1114 closed

[2021-09-23 16:36] wtrocki commented on #1116
Done!

[2021-09-23 16:36] #1116 closed

[2021-09-23 16:40] wtrocki commented on #1120
Done

[2021-09-23 16:40] #1120 closed

[2021-09-23 21:46] EricWittmann commented on #1085
Hasn't been deployed to staging yet.  Pipelines are failing.

[2021-09-24 07:30] rkpattnaik780 commented on #1122
Trying to provide ocm token after oc logout gives the following error:
[code]

[2021-09-24 14:27] craicoverflow opened #1135 "nil-pointer error when adding service-registry artifact role"
## Description

**Version**: dev

When adding a role to a service-registry, if I do not provide the role value then I get a nil-pointer error.

### Steps to reproduce

[code]

[2021-09-24 14:35] craicoverflow opened #1136 "Limit the use of "Run the command in verbose mode using the -v flag to see more information" in error messages"
All error messages currently have the message "Run the command in verbose mode using the -v flag to see more information" at the end, but realistically this should be limited to certain cases like backend errors.

[2021-09-24 16:04] #1135 closed

[2021-09-24 16:10] wtrocki commented on #1136
+1 but would lets not do it in near term - will collide with error handling discussion we need to have. I got feedback that this message is very useful

[2021-09-27 09:41] #1092 closed

[2021-09-27 10:12] wtrocki commented on #1118
We need to discuss that - Dropping as item for weekly call

[2021-09-27 10:14] wtrocki commented on #1100
This seems out of place. We should probably create some epic/general issue with context or add context to each issue created.
We need to triage it as well

[2021-09-27 10:15] wtrocki commented on #1086
@paoloantinori This seems like it is resolved but we are missing technical details needed to implement it.
Is my understanding right?

[2021-09-27 10:19] craicoverflow commented on #1100
There is a milestone: https://github.com/redhat-developer/app-services-cli/milestone/8

The idea of having multiple issues was to allow multiple people to work on the different sections.

[2021-09-27 10:20] wtrocki commented on #799
@smccarthy-ie Would that be done by your team? Do you have any draft for this?

[2021-09-27 10:21] wtrocki commented on #907
Closing as stale. We want to refactor code in rhoas repository first and then form proper charmil core implementation

[2021-09-27 10:21] #907 closed

[2021-09-27 10:40] wtrocki opened #1140 "RHOAS CLI update commands fail on automation due to missing output flag"
## Description

We need to adjust automation to perform extra queries to get json output
![Screenshot 2021-09-27 at 11 40 55](https://user-images.githubusercontent.com/981838/134893625-cf27e67b-2240-4961-b7b4-247104ef9b36.png)

[2021-09-27 10:45] wtrocki commented on #1100
Perfect. I have updated issue to explain things better. Feel free to copy it over.

[2021-09-27 13:54] craicoverflow commented on #1140
there is a PR in the tests repo for this. Closing.

[2021-09-27 13:54] #1140 closed

[2021-09-27 14:48] #1098 closed

[2021-09-27 15:27] wtrocki opened #1144 "Generated service account is missing auth url required for service registry"
## Description

For service registry, we need a token url (SSO) to be included for users to be able to configure their registry configuration manually.
UI already does that right now. CLI is missing it so we need this ASAP (and provide new release)
![Screenshot 2021-09-27 at 16 49 02](https://user-images.githubusercontent.com/981838/134942335-a8211c0e-e98a-4fc0-83dd-35ff4b80c0f7.png)

URL:
https:/

[2021-09-27 15:52] wtrocki commented on #1144
We need some way to differentiate between QA and Prod

[2021-09-27 15:52] wtrocki commented on #1144
@craicoverflow @rkpattnaik780 - WDYT about adding "token_endpoint_url" field to the output file?

[2021-09-27 15:57] wtrocki opened #1145 "ServiceRegistry and Kafka list commands should print what Kafka instance is currently used"
## Description

ServiceRegistry and Kafka list commands should print what Kafka instance is currently used:

[code]

Might need new column or even * to mark registry as currently used in CLI

[2021-09-27 17:08] himanshu007-creator commented on #1145
Hi , i would like to work on this issue. Please guide me further ^_^

[2021-09-27 17:27] wtrocki commented on #1145
list.go file has logic for listing service registry.
I will start with adding `*` to first component and create pr. Then we can use logic from use.go to get kafka that is selected

[2021-09-27 17:43] rkpattnaik780 commented on #1144
Sounds fine, but will it be better if we display it in STDOUT rather than printing it to a file?

[2021-09-27 18:25] rkpattnaik780 opened #1147 "Use validator library to validate timestamp offset value"
## Description

**Version**: 0.31.0

Use an iso8601 validator lib to validate value provided for timestamp input.

Originally discussed [here](https://github.com/redhat-developer/app-services-cli/pull/876#discussion_r701036958).

[2021-09-27 19:05] wtrocki commented on #1144
env file can be used in guides/will work out of the box when cli print out will be more manual

[2021-09-28 10:14] wtrocki opened #1149 "Service accounts have too generic names to be reused in guides"
## Description

When trying to use service account values as they are in the guides we weren't able to do so as they have very generic names:

- CLIENT_ID
- CLIENT_SECRET

Having less generic names with prefix like RHOAS_.. will allow us to reference those in the guides/quarkus apps as they are and minimize amount of effort and steps to perform tasks

[2021-09-28 10:16] wtrocki opened #1150 "Using stage env should imply using mas-sso without specifying it's url"
## Description

When performing rhoas login with gateway set as `stage` - mas-sso URL should be set automatically.
We had numerous issues with mixup around stage/production users.

Originally reported by @DuncanDoyle

[2021-09-28 10:17] craicoverflow commented on #1144
Writing the token endpoint URL will actually be better that having some separate command or flag to print it in my opinion.

The currently credentials files offer no context as to the environment they are valid for. This makes it difficult for the user to associate the credentials with the correct environment without using `service-account describe`.

We could always offer both options? `rhoas ser

[2021-09-28 20:41] beav opened #1152 "installed binary path is incorrect on RPM"
## Description

**Version**: 0.31.1

The RHOAS rpm will install the binary to `/usr/bin/bin/rhoas` which is not on the default path. I suspect it should be `/usr/bin/rhoas`.

### Steps to reproduce

1. Install rhoas 0.31.1 rpm
2. attempt to run "rhoas"
3. `rhoas: command not found`

### Expected vs actual behaviour

The rpm is installing the rhoas bin to `/usr/bin/bin/rhoas` instead of `/usr/bin/r

[2021-09-28 21:27] wtrocki commented on #1152
Thank you for logging new issue
What would be your os/version?

I think we have this fixed recently but that fix might introduced another problem
https://github.com/redhat-developer/app-services-cli/pull/836

[2021-09-28 22:24] alexal commented on #1152
@wtrocki I've fixed the problem

[2021-09-29 08:39] #1152 closed

[2021-09-29 08:41] wtrocki commented on #1152
@beav We hoping to schedule another release soon with fixed RPM. Thank you so much for reporting issue.

@alexal Thank you so much for your community contribution! really appreciate it.

[2021-09-29 08:45] wtrocki commented on #1150
Our current feature that lets anyone to use CLI with their own infrastructure prevent us from fixing this completely.
I have added documentation to contributing guide

[2021-09-29 08:45] #1150 closed

[2021-09-29 08:45] #1149 closed

[2021-09-29 08:45] wtrocki commented on #1149
Follow up to change guides as well

[2021-09-29 08:46] wtrocki commented on #1144
Done

[2021-09-29 08:46] #1144 closed

[2021-09-29 08:47] wtrocki commented on #1147
More info is needed for community to pick that up. (Where to change and what package to use)

[2021-09-29 09:02] wtrocki commented on #1057
I'm going to start with fixing SDK's but assigning this area to CLI. there will be a lot of changes in CLI needed to incorporate this so we might later split to separate issues.

[2021-09-29 09:04] wtrocki commented on #1085
Works like drem! thank you so much team for doing this! Experience is totally different right now

[2021-09-29 09:04] #1085 closed

[2021-09-29 09:05] wtrocki commented on #768
Blocked by preeliminary work on the SDK's

[2021-09-29 09:06] wtrocki commented on #799
Done. Pinged team for eventual feedback.
@PaulRMellor and @smccarthy-ie taking over that for docs reviews/perspective.

[2021-09-29 09:06] #799 closed

[2021-09-29 09:07] #172 closed

[2021-09-29 09:10] wtrocki commented on #317
Proper requirement will be to get backend UI URL returned as we got for registry. Logging with separate team and closing as there will be no action on our side.

[2021-09-29 09:14] wtrocki commented on #607
Great example that we need to do better backlog refinements.

Issue from `20 Apr` that resurfaced recently as critical (I created new issue)

[2021-09-29 09:14] #607 closed

[2021-09-29 09:14] wtrocki commented on #607
Btw.. at the time we were kafka centric. This was implemented in service accounts (where it should be)

[2021-09-29 09:16] wtrocki commented on #616
@craicoverflow I saw you adding spinner to login etc.. which is ok
IMHO spinner for API requests is a gimmick that would not work well in:

- OpenShift terminal (workshops)
- Windows cmd

Leaving you to reopen.

[2021-09-29 09:16] #616 closed

[2021-09-29 09:56] fvaleri commented on #1085
Thanks guys for the quick turnaround. This is a small thing that will really improve the user experience.

[2021-09-29 10:17] craicoverflow commented on #317
This would eventually be actionable on our side though right? control planes probably won't return a UI URL, nor would kafka data plane.

[2021-09-29 10:50] wtrocki commented on #317
Done already for srs. It should return UI url

[2021-09-29 10:53] craicoverflow commented on #317
So there is a flag there which when passed will automatically open the UI in the browser?

[2021-09-29 11:29] wtrocki commented on #317
backend returns URL for every metadata for registry. Will ask if we can get it for kafka. Reopening

[2021-09-29 11:41] wtrocki commented on #590
We are moving to bind command being able to list MKC objects on cluster rather than pulling API. This issue is not relevant anymore

[2021-09-29 11:41] #590 closed

[2021-09-29 11:44] wtrocki opened #1154 "Add documentation to bind command on how to edit/delete binding after"
## Description

oc delete/oc edit etc.

[2021-09-29 11:44] wtrocki commented on #643
Closing - this is a console requirement

[2021-09-29 11:44] #643 closed

[2021-09-29 11:44] wtrocki commented on #643
Created separate issue as follow up

[2021-09-29 11:44] #661 closed

[2021-09-29 11:48] #1069 closed

[2021-09-29 12:07] wtrocki commented on #637
This resurfaces a lot in many conversations and since we have 2 services I raising priority on it.
This is something that our community and users were complaining a lot about:

- SBO is not mainstream so we cannot use it as the main solution for config
- CLI doesn't provide a one-step way to get the configuration.
To visualize the problem right now for configuring just 2 services:

1. User need to

[2021-09-29 12:24] rkpattnaik780 commented on #903
Duplicate #661

[2021-09-29 12:38] alexal commented on #1147
@wtrocki I would like to work on this. Please assign this issue to me.

[2021-09-29 13:24] wtrocki commented on #641
This sounds like duplicate of set of the existing issues.

[2021-09-29 13:24] #641 closed

[2021-09-29 13:25] wtrocki commented on #655
This can be sourced into 4-5 micro issues

[2021-09-29 13:25] wtrocki commented on #656
Since then Contributing changed and it is light enough (at least for me). @craicoverflow WDYT? Can we close this?

[2021-09-29 13:26] wtrocki commented on #684
Sounds like another duplicate

[2021-09-29 13:26] #684 closed

[2021-09-29 13:27] wtrocki commented on #753
We need to raise this problem in the mailing list. Assigning to me.

[2021-09-29 13:30] craicoverflow commented on #656
Yes

[2021-09-29 13:30] #656 closed

[2021-09-29 13:31] craicoverflow commented on #1087
Nice website for inspiration: https://primer.style/cli/

[2021-09-29 13:31] wtrocki commented on #788
This was done already

[2021-09-29 13:31] #788 closed

[2021-09-29 13:35] wtrocki commented on #877
My vote would be to look for user feedback and close it for now. WDYT?

[2021-09-29 13:37] wtrocki commented on #826
I think this should be transfered to guides repo - we can action by removing versions from content

[2021-09-29 13:38] wtrocki commented on #906
@rkpattnaik780 we missed that on refinement. I think you have done it.

[2021-09-29 13:39] wtrocki commented on #928
Reliably speaking this will be confusing from CLI point of view. We never got requirement to cover this

[2021-09-29 13:39] wtrocki commented on #928
Closing

[2021-09-29 13:39] #928 closed

[2021-09-29 13:39] wtrocki commented on #940
update on this?

[2021-09-29 13:40] wtrocki commented on #990
Another duplicate. I will close other one as this has tons of details

[2021-09-29 13:41] #903 closed

[2021-09-29 13:41] wtrocki commented on #903
Done, but still nor merged - progressing other issues in feature branch

[2021-09-29 13:42] wtrocki commented on #990
Update: we need to update bind command as well. @rkpattnaik780 progresses that already

[2021-09-29 13:44] craicoverflow commented on #940
Since we are working on the productized CLI, this will become less of an issue. We could still remove the README fron the upstream release folders though. Let's have this as a good first issue.

[2021-09-29 13:45] wtrocki commented on #1038
There were changes in SBO, CLI and Operator since then that will make this issue go away. SBO has now hook that validates creation of the CR. CLI will handle that hook with proper message. Closing but we can reopen if there is something we missed

[2021-09-29 13:46] wtrocki commented on #1039
Thank you so much for your feedback. We have used this feedback to propose solution on SBO side that invalides SBO dry mode. There is no way now to create invalid CR on SBO side. If you feel that we missed something lets reopen

[2021-09-29 13:46] #1039 closed

[2021-09-29 13:48] craicoverflow opened #1156 "Service Account: Remove the description field and rename "name" to "short description""
Some changes are required in service account management:

- [ ] Remove the "description" field
- [ ] Rename "name" to "short description"
- [ ] Update the "short description" validation rules (exact rules to be confirmed)

[2021-09-29 14:00] wtrocki commented on #1156
Will take this on me once things will clarify - we are extending experience for service account so this can be addressed as well

[2021-09-29 15:45] kabir commented on #1038
@wtrocki is there some issue/ticket I can watch? I'd love to try out if the way I would like this to work works once this is live. Or are you saying this is there already?

[2021-09-29 15:56] wtrocki commented on #1038
0.10.0 version of SBO operator should have validation enabled. I could not find issue for that but I have experienced this feature when trying to replicate this use cases.

[2021-09-29 15:56] #1038 closed

[2021-09-29 16:00] paoloantinori commented on #1086
this is actually outdated, since it's been fixed directly on the RHOSR UI:
a new user that tries to use the service, is going to be redirected to the correct SR terms and condition page.

But I know how to express this problem only in terms of the UI, I don't know what impacts it could have to the CLI and if it applies at all or not

[2021-09-29 16:12] wtrocki commented on #1086
Is terms event code the same: `onlineService` ?

https://github.com/redhat-developer/app-services-cli/blob/main/internal/build/build.go#L29-L32

[2021-09-30 08:52] SamBarker opened #1157 "Installer script uses outdated path for binary"
## Description
Installer uses outdated path for binary within the OS X tarball.
**Version**: 0.32.0

I've just tried to install 0.32.0 on MacOS. The script successfully downloaded the tar ball and uncompressed it however it then failed with
[code]

It looks like https://github.com/redhat-developer/app-services-cli/pull/1153/ changed the output when building the tar ball, but the OS X install scrip

[2021-09-30 10:21] wtrocki commented on #1123
Approved by @DuncanDoyle

[2021-09-30 10:37] wtrocki commented on #637
One of the ideas that might sounds out of place but will significantly improve user experience on this is to:

## Add new --include-services flag for service account creation

When this flag is present service accounts files will get extra properties/env variables etc. representing each individual service URLs. That will cut amount of steps by 3

[2021-09-30 11:42] alexal commented on #1157
Fixed.

[2021-09-30 11:44] #1157 closed

[2021-09-30 15:49] craicoverflow opened #1159 "Client-side validation of the `service-account list` command output"
### Feature or problem description

The `ListServiceAccounts` endpoint does not offer pagination parameters so we are listing all data. It is likely that there would be multiple service accounts allowed per user, potentially leading to 100s or 1000s of items being printed. We need to offer pagination to make this list more easily read.

### Proposed solution

Add a `limit` and `offset` flag and do

[2021-09-30 15:55] wtrocki commented on #1159
To be clear. Proposal is to perform client side pagination or use backend - file new request (that should not be issue)?

[2021-09-30 15:57] craicoverflow commented on #1159
There were some technical reasons for not being able to do this on the backend, it was there but removed because it did not work correctly. @akoserwal do you know if this is possible yet?

[2021-09-30 16:01] akoserwal commented on #1159
Raised issue with Keycloak team: https://issues.redhat.com/browse/KEYCLOAK-17822

[2021-09-30 16:03] craicoverflow commented on #1159
Thanks for confirming this is still not technically possible. In that case I think we should do client-side pagination on this in the meantime.

[2021-09-30 17:24] #940 closed

[2021-09-30 18:17] wtrocki commented on #1123
I guess this is up to discussion but we need 2 new flags

[2021-09-30 19:04] craicoverflow commented on #1123
Yep and I think it is an important discussion. Realistically the most secure way is loading it from the file, but we have JSON, env and properties file formats. It will be simple enough to load from JSON, I'm not sure about the others though.

[2021-09-30 19:39] wtrocki commented on #1123
Adding this to technical call next week

[2021-10-01 05:37] amoghrajesh commented on #1111
@wtrocki @rkpattnaik780 I am relatively new to OSS and would like to give this issue a shot. Let me know how I can onboard myself with this and where I can look for the code to change

[2021-10-01 07:09] rkpattnaik780 commented on #1111
Thanks @amoghrajesh ! You would need to make changes to the file `pkg/cmd/registry/list/list.go`.
You can have a look at how `topic list` validates the flags.

[2021-10-01 08:42] amoghrajesh commented on #1111
@rkpattnaik780 I have created a patch that will handle this fix as a part of https://github.com/redhat-developer/app-services-cli/pull/1163.
Please have a look and review it, thanks!

[2021-10-01 09:44] wtrocki opened #1164 "Documentation for commands and examples should not use <> characters as they break html generation"
Strings in https://github.com/redhat-developer/app-services-cli/tree/main/pkg/localize/locales/en should have all <> removed

[2021-10-01 10:51] rkpattnaik780 opened #1165 "Add `--search` flag to `rhoas service-registry list`"
### Feature or problem description

`rhoas service-registry list` should allow user to filter list of service registries using `--search` flag.

### Proposed solution

Add a flag `--search` to `rhoas service-registry list`. It should have the description: `Text search to filter the Service Registry instances by name`.

[2021-10-01 11:01] Jayita10 commented on #1165
Can I work on this issue?

[2021-10-01 12:50] wtrocki opened #1166 "IsOrgAdmin is available on token claim"
We currently using https://github.com/redhat-developer/app-services-cli/blob/cluster-complete-mess/pkg/api/rbac/api.go#L31:L31 this to check if user is admin

[2021-10-01 13:21] #1111 closed

[2021-10-01 13:24] craicoverflow commented on #1166
What is the action here? The issue is unclear to me. Where is that field being used exactly?

[2021-10-01 13:27] wtrocki commented on #1166
In not pushed code for ACL that you haven't seen :). Let's triage this on the next call.

[2021-10-01 13:32] himanshu007-creator commented on #1165
Hi, i would like to work on this issue. Please tell the description to be added along <a href="https://github.com/redhat-developer/app-services-cli/blob/f9a8e845562c65f7bd13516649f7c40d582d3c7c/docs/commands/rhoas_service-registry_list.adoc#rhoas-service-registry-list">here</a> in <code>options</code>

[2021-10-01 13:36] craicoverflow commented on #1165
If you check out the `rhoas kafka list` command and keep a similar description, but adapted to service-registry.

[2021-10-02 05:58] Subhangini commented on #1156
In which file we have to make changes, Beginner so little bit confused.

[2021-10-04 08:32] wtrocki commented on #1164
+100.

[2021-10-04 09:16] craicoverflow commented on #1156
No problem @Subhangini. Have you first downloaded and played with the CLI? That would be my suggestion because you will need to understand how the CLI works before being able to make meaningful contributions. You can create a Red Hat account and use that to log in.

[2021-10-04 09:17] craicoverflow commented on #1156
This issue may not be a "good first issue", just because new evidence suggests it may not be needed.

[2021-10-04 10:20] wtrocki commented on #1115
Example of the issue that were reported by PM

[2021-10-04 10:20] wtrocki commented on #1057
@craicoverflow this is up to grabs

[2021-10-04 10:21] wtrocki commented on #768
Same issue as https://github.com/redhat-developer/app-services-cli/issues/1057 - requires some work in SDK

[2021-10-04 10:24] wtrocki commented on #753
Done background research and collected some feedback on the issue.

[2021-10-04 10:35] wtrocki commented on #1166
Update. Decision was made to use RBAC API. Created issue to cover extra requirements.
https://issues.redhat.com/browse/RHCLOUD-16448

[2021-10-04 10:35] #1166 closed

[2021-10-04 10:58] craicoverflow commented on #1119
I see just one Kafka ACL related issue. Do we need to create more?

[2021-10-04 11:32] rkpattnaik780 opened #1172 "Add `kafka acl list` command to list ACL rules"
### Feature or problem description

`rhoas kafka acl list` should display the list of permissions in a specified format.

[2021-10-04 11:56] wtrocki commented on #1119
Only the ones that are in the sprint (Refer to Convinience commands)

[2021-10-04 13:40] craicoverflow opened #1174 "Use the pre-defined service status constant values"
In some places, unassigned strings are being used to refer to the various possible service status values. There are constants defined in the [`svcstatus`](https://github.com/redhat-developer/app-services-cli/blob/db1abd96389bad334014e3cce98f210e780ac1a1/pkg/connection/keycloak_connection.go#L254-L268)package for this which should be used.

Location 1:
https://github.com/redhat-developer/app-servic

[2021-10-04 15:26] craicoverflow opened #1175 "Add convenience command to give a principal producer access to a certain topic"
### Feature or problem description

When I'm configuring my ACLs of my Kafka topic

I want to give a principal producer access to a certain topic in single command

So I don't have to set the 3 required ACLs to produce to a topic (WRITE, DESCRIBE, CREATE) individually.

The Kafka Bin Scripts have a convenience command to set the required allowed operations on the topic resource (WRITE, DESCRIBE, C

[2021-10-04 15:45] wtrocki opened #1176 "Connect command should fail when operator is oudated"

[2021-10-04 15:50] craicoverflow commented on #637
I like it, but rather, what about something like:

[code]

Another thing though - currently service accounts created by me will automatically have access to all my services, but will that always be the case? If not, then we could be misleading the user by assuming the service account has access to the supplied service.

[2021-10-04 15:54] wtrocki commented on #637
No in couple weeks we going to have both Kafka and Registry requiring extra commands and that is why importance of this issue cannot be overstated. Initially we had just Kafka so it was easy to document etc.

[2021-10-04 15:55] wtrocki commented on #637
@craicoverflow Check this issue #1118

[2021-10-04 16:52] #1164 closed

[2021-10-04 17:10] hguerrero commented on #637
I like the `--include-service` as I understand it will check which services are linked to that SA and bring the additional config into the file. Maybe you will be able to list them independently in the future when more services are available.

[2021-10-04 18:33] kashifsoofi commented on #1174
Can I attempt this please?

[2021-10-04 19:16] wtrocki commented on #637
Yes. In this context this will make sense. As for having flags with service ids:

- grabbing service id is the same number of steps than their urls
- 5 services = 5 steps = flags to supply

[2021-10-04 19:22] wtrocki commented on #1174
@craicoverflow catching up with issues.
Ideally we should use enums from individual sdks as we deal with separate backends, but proposed package is still much better than strings :)

[2021-10-04 19:29] craicoverflow commented on #1174
Yes, this package exists already though and is a quick-win. Long-term, I agree this should be in the SDK.

[2021-10-05 03:29] wtrocki commented on #1174
It is in SDK already - Every SDK has status enum

[2021-10-05 08:03] craicoverflow commented on #1174
Yes, for service registry but not for Kafka. Service registry has fewer enum values (it does not have `PROVISIONING`).

I recall an issue (https://github.com/bf2fc6cc711aee1a0c2a/kas-fleet-manager/issues/386) about this but it was closed as this change would introduce backwards-incompatible changes to consuming clients..

[2021-10-05 08:22] craicoverflow commented on #637
My main concerns for having a single flag are:

This assumes the user wants all the currently used services to be included. But what if I am only using 1/10 services right now - I do not want my credentials file to be crowded with lots of unnecessary info for my application.
A solution could be to have the `--include-service` flag accept values `all|kafka|service-registry` etc.

My second concern

[2021-10-05 08:27] wtrocki commented on #637
First concern - adds complexity but if all is default then we good.

Second concern - tradeoff we need to accept before we get an abstraction of projects.

Use commands are an only a temporary solutions.
After having +3 services we might need to look if we can start building context abstraction outside command groups.
Something like
[code]

[2021-10-05 08:29] craicoverflow commented on #350
I was thinking about this again - maybe it can be re-framed in terms of having multiple application contexts instead?

I as a developer may be working on multiple separate projects with `rhoas`. I want clean separation between these applications, meaning I do not want to have to run `rhoas [service] use` on each service to switch to a different project.

It would be convenient to have the ability

[2021-10-05 08:33] wtrocki commented on #350
@craicoverflow Next year we need ADR and push for project/environments abstraction.
I'm not 100% sure if we should invest more into CLI only as the main focus right now is in the UI.

If there is abstraction like that we want that in UI, CLI and... most likely Operator/OpenShift binding integration.
What we have in CLI right now is just low effort replacement for that.

[2021-10-05 08:37] wtrocki commented on #350
That being said. We can replace use with another hack, but this would be not an ideal solution due to lack of lifecycle management on thise. Currently, user context can be outdated (your selected Kafka might not exist etc.)
I do see this as very low priority due to other commitments and the fact that we need to have it solved the complex way with OpenShift integration etc.

[2021-10-05 09:48] #1174 closed

[2021-10-05 14:36] wtrocki opened #1181 "Update SBO operator depdency to the latest version"
## Description

New release introduced another breaking changes

[2021-10-05 16:39] bhardesty commented on #826
Agree that we can just remove/replace the version numbers. I created a new issue for it in app-services-guides instead of transferring it. I think we can close this one now.

[2021-10-05 17:09] #826 closed

[2021-10-05 18:20] alexal commented on #1145
@wtrocki I just created a new PR, please review and let me know if you want to change anything. Here is how it looks:

![image](https://user-images.githubusercontent.com/499857/136080277-77a34e84-21e5-4c2d-9b9b-fca56c845b54.png)

I do not have access to create more than one Kafka or Service Registry instance, thus I have only one in the list.

[2021-10-06 07:45] rkpattnaik780 commented on #1145
Probably a better layout could be to highlight the instance name and add a "*". Similar to how we get in `git branch`. Adding a column introduces a lot of empty spaces. Wdyt @wtrocki

[2021-10-06 08:02] craicoverflow commented on #1145
I agree @rkpattnaik780 - I was thinking the same. Perhaps something like `alexal (current)`? An asterisk does not explain the meaning.

[2021-10-06 12:32] craicoverflow commented on #1145
The text is neater. Could you put it _after_ the name instead though? Maybe share a screenshot of that and we can compare.

[2021-10-06 12:48] alexal commented on #1145
Like this?

![image](https://user-images.githubusercontent.com/499857/136205223-eeaeb606-dfd5-4e10-8b91-b7f36530a89a.png)

[2021-10-06 12:51] alexal commented on #1145
I've pushed the changes.

[2021-10-06 13:06] rkpattnaik780 commented on #1145
This looks good!

[2021-10-06 14:17] #1145 closed

[2021-10-06 14:23] craicoverflow opened #1185 "Implement `rhoas kafka acl delete` command"
[code]

[2021-10-06 16:37] wtrocki opened #1186 "cluster and status commands should use the same constants for service identifiers"
### Feature or problem description

We should have service indentifiers defined in one place.

// This issue requires merge of the cluster command work.. Not ready to be work on.

[2021-10-07 07:23] #1057 closed

[2021-10-07 08:58] craicoverflow opened #1188 "Create a constant for the "KUBECONFIG" string"
_Originally posted by @craicoverflow in https://github.com/redhat-developer/app-services-cli/pull/1187#r723983227_

## Description

We are using `KUBECONFIG` to load custom kubeconfig file locations. This should really be referenced as a constant value.

## How

Create a constant with the value of `KUBECONFIG` and update all references to this value.

The constant should be located in the `pkg/clu

[2021-10-07 11:44] rkubis opened #1189 "Debug mode for install.sh script"
### Feature or problem description

When I tried to install `rhoas` CLI, I got error message: `Release tag latest not found`, but the issue was that I exceeded API rate limit of GitHub.

So, I got wrong error message in this case.

### Proposed solution

Ability to run installation script in debug mode, or proper error message when an issue happens during installation process.

### Additional cont

[2021-10-07 12:46] rkubis opened #1190 "Versions before 0.32.0 contain an extra bin directory that prevents installing of older version"
## Unable to install older version of `rhoas` CLI (before 0.32.0)

**Version**: before 0.32.0

Unable to install older version of `rhoas` CLI due to extra `bin` directory.

### Steps to reproduce

1. Try to install older version of `rhoas` CLI than 0.32.0
2. You should see error: `cp: rhoas_0.31.1_macOS_amd64/rhoas: No such file or directory`

### Expected vs actual behaviour

Older `rhoas` CLI sh

[2021-10-07 12:54] #1190 closed, assigned to nobody

[2021-10-07 17:20] rkpattnaik780 opened #1192 "Fix examples for consumer group reset offset command"
## Description

Invalid examples for `kafka consumer-group reset-offset`.  `--topic` is a required flag which is missing from most of the examples.

**Version**: 0.32.0

### Steps to reproduce

1. Run `rhoas consumer-group reset-offset -h`
2. This should show the following examples:
[code]

### Expected vs actual behaviour

Examples should have `--topic` flag.

[2021-10-07 17:21] gkpani97 commented on #1192
Interested

[2021-10-11 10:09] craicoverflow opened #1194 "Credentials file path should be highlighted in a colour"
When running `rhoas service-account create` and `rhoas service-account reset-credentials`, we print the file path of the credentials when the operation has completed.

[code]

The file path should be highlighted using `color.CodeSnippet(filePath)` to make it stand out.

[2021-10-11 10:19] ananichev commented on #1194
I'll take that one

[2021-10-11 10:56] #1194 closed, assigned to ananichev

[2021-10-11 11:01] craicoverflow opened #1196 "Create constants for the credentials output format strings"
https://github.com/redhat-developer/app-services-cli/blob/e34a650f24a6f291ec375a936f9431060f9ce5b6/pkg/cmdutil/flags/flags.go#L11

We should create a `const` for each of these file formats, and update references in the code.

[2021-10-11 11:50] wtrocki opened #1197 "Add --all-principals flag to convinience commands"
### Feature or problem description

Based on discussion - currently users can add * to --service-account and * to user to enable all principals.
While this is ok we should also add additional flag that will implicitly document and enable adding acl rule for all users/and services accounts

[2021-10-11 11:51] wtrocki opened #1199 "Support for Admin command to give another principal access to manage Kafka ACL"
### Feature or problem description

 Add Support for Admin command to give another principal access to manage Kafka ACL

[2021-10-11 13:08] wtrocki opened #1200 "ACL commands should allow users to override kafka instance-id (there is separate issue for topics and consumer groups but for ACL we should enable adding it. Creating new issue"
ACL commands should allow users to override kafka by specifying instance-id flag

[2021-10-11 13:10] wtrocki commented on #1172
Done by @rkpattnaik780

[2021-10-11 13:10] #1172 closed

[2021-10-11 13:16] wtrocki opened #1201 "Unification of error handling for all Services"
### Feature or problem description

Epic for handing errors in CLI

## Related issues

https://github.com/bf2fc6cc711aee1a0c2a/kafka-admin-api/issues/127
https://github.com/Apicurio/apicurio-registry/issues/1929

https://github.com/bf2fc6cc711aee1a0c2a/srs-fleet-manager/issues/175
https://github.com/bf2fc6cc711aee1a0c2a/kas-fleet-manager/pull/613

[2021-10-11 13:56] craicoverflow opened #1203 "Use `all` alias instead of accepting `*` for wildcards"
In the ACL commands, certain flags accept wildcards, denoted by an asterisk "*".

One issue with this is the user MUST enclose this in quotes, otherwise it will reference the file system:

[code]

Another issue is that it is harder to document, other than in examples. If  we had an `all` alias, and the user has completions enabled it will show up as an option.

[code]

[2021-10-11 14:00] #1196 closed, assigned to nobody

[2021-10-11 14:01] wtrocki opened #1204 "Validation for multiple flags missing or present should have common helper"
ACL commands (and other commands) will have this common pattern when one of commands need to be specified and none of the flags specified should return error. We probably can create helper for that to make it easier and minimize amount of i18n strings required for those cases (use generic message).

_Originally posted by @wtrocki in https://github.com/redhat-developer/app-services-cli/pull/1179#di

[2021-10-12 07:44] rkpattnaik780 opened #1208 "Print ACLs to be generated after running grant-permissions command"
### Feature or problem description

`grant-permissions` command should print more details regarding what is going to be change before executing this operation.

Originally discussed [here](https://github.com/redhat-developer/app-services-cli/pull/1179#issuecomment-940044034).

[2021-10-12 07:55] rkpattnaik780 opened #1209 "`grant-permissions` should check if rules already exist"
### Feature or problem description

Creating the same rules twice prints success message

Originally discussed [here](https://github.com/redhat-developer/app-services-cli/pull/1179#issuecomment-940046836)

[2021-10-12 08:09] rkpattnaik780 opened #1210 "Modularize `runGrantPermissions` method to smaller bits"
Originally discussed [here](https://github.com/redhat-developer/app-services-cli/pull/1179#discussion_r725967133)

[2021-10-12 08:21] rkpattnaik780 opened #1211 "Batch creation of ACL rules"
### Feature or problem description

Creation of multiple ACL rules should be carried out using for loop

Originally discussed [here](https://github.com/redhat-developer/app-services-cli/pull/1179#issuecomment-936300022).

[2021-10-12 09:17] wtrocki opened #1212 "Framework for CLI testing"
### Feature or problem description

When testing we often use number of combinations to test commands.
We need to start documenting those cases as part of PR to see if we breaking something without knowing and also provide out of the box verification instruction for developers.

However we would not be able to perform some advanced aserts without testing framework.

There are many testing framewor

[2021-10-12 10:12] wtrocki commented on #1212
See #1213

I would qualify this as smoke tests that developer runs on their machine that checks for various things like missing keys and other issues. It have been proven to be valuable for me and I have been building those every time but never shared it.

Idea is that when we build verification steps we should probably also build those bash scripts to help with automation and detection of errors

[2021-10-12 10:55] rkpattnaik780 opened #1215 "Add unit tests for `kafka acl grant-permissions`"
Write unit tests for the method `validateFlagInputCombination` with different combination of flags to carry out producer and consumer operations.

[2021-10-13 08:56] craicoverflow opened #1219 "Add PAGER support for all `list` commands"
Every `list` command simply prints the output to `stdout`. To get to the next page the user must run the command again with the next page passed via `--page=n` flag. This makes navigating through all pages extremely slow.

It would be really nice if we could add support for PAGER, whereby the list is interactive and you can scroll your mouse to navigate the full list.

A common example of this is

[2021-10-13 11:05] #1200 closed, assigned to rkpattnaik780

[2021-10-13 11:05] #1203 closed, assigned to rkpattnaik780

[2021-10-13 14:45] craicoverflow opened #1221 "Change ACL `grant-permissions` to `grant-access`"
This is to keep consistent with the UI.

[2021-10-13 17:22] #1211 closed, assigned to nobody

[2021-10-14 11:48] #906 closed

[2021-10-14 11:58] #1221 closed, assigned to wtrocki

[2021-10-14 12:24] craicoverflow commented on #1197
Yes, I was about to reply with the same point as @rkpattnaik780.

[2021-10-14 14:22] craicoverflow opened #1224 "Error message should make it clear `--topic-prefix` or `--topic` can be used"
In the `kafka acl grant-access` command:

`--topic` OR `--topic-prefix` can be passed, but error messages do not make this known - they say "--topic" is required.

The error message must reflect the allowed values.

[code]

[2021-10-14 16:21] bhardesty opened #1225 "Group commands in the CLI reference guide"
### Feature or problem description

In the script that generates the rhoas CLI reference guide (https://github.com/redhat-developer/app-services-cli/blob/c5bd4c29308b159df6c60382005501714a61bd52/internal/docs/modular_docs.go), the commands are included into the ref guide in alphabetical order, without any categorization (https://github.com/redhat-developer/app-services-cli/blob/modular-docs/assemb

[2021-10-14 16:46] bhardesty opened #1226 "Remove "rhoas" prefix for commands in the CLI command ref"
### Feature or problem description

In the CLI command ref, the title of each command is the full rhoas command, including the "rhoas" prefix. For example:
https://github.com/redhat-developer/app-services-cli/blob/modular-docs/modules/ref-cli-cluster-bind.adoc#rhoas-cluster-bind

When you're looking at the TOC in the command ref, this actually makes it more difficult to find the command you're loo

[2021-10-14 18:30] wtrocki commented on #1225
I think we can go with 2 options here:

Apply modifications for engine but that would be related to commands structure itself like append content to single file. Keep subcommands in subfolders etc. Drawback of that is that it will be really hard to adapt this downstream

Alternative would be to threat generated content as modules and create separate assembly object downstream. This would be much b

[2021-10-15 08:41] craicoverflow opened #1227 "Add more details to the `kafka acl list` help output"
Feedback:

See https://github.com/redhat-developer/app-services-cli/issues/1227#issuecomment-951064119 on what we should do.

[2021-10-15 13:32] wtrocki commented on #1227
I like us to follow KISS. google mantra to avoid flags and unneeded complexity. My take is that UI does present the same data like we do so this feedback is more to ux team.

I think acls we display are clear and less risky for confusion/missinterpretation

[2021-10-18 14:02] craicoverflow opened #1229 "Smarter error handling in ACL commands"
This feedback can also be generally applied and is not exclusive to ACL, but these commands have a lot of possibly input combinations and so the need for more sympathetic error messages is more apparent.

Look at the following journey a user might take if they do not look the command documentation using `--help` (which is very likely).

[code]

We are "drip-feeding" the information required to ful

[2021-10-19 08:21] rkpattnaik780 opened #1231 "List ACL rules per principal"
### Feature or problem description

User should be able to list ACLs for specified principal

### Proposed solution

`rhoas kafka acl list` should have an additional flag that should filter ACLs for a given principal.

[2021-10-19 09:30] craicoverflow opened #1232 "Chnage `(*Config).HasKafka()` method to return two values: boolean if exists and the ID value."
### Feature or problem description

We use the `HasKafka` method to check if a Kafka instance is currently set, and then must directly access the nested Kafka instance ID if it does exist.

Example:

[code]

### Proposed solution

We can return if the value exists, as well as the value itself in a single method:

[code]

This is both safer (less chance of a nil-pointer exception) and cleaner.

[2021-10-19 09:34] craicoverflow opened #1233 "Change `(*Config).HasServiceRegistry()` method to return two values: boolean if exists and the ID value."
### Feature or problem description

We use the `HasServiceRegistry` method to check if a registry instance is currently set, and then must directly access the nested Kafka instance ID if it does exist.

Example:

[code]

### Proposed solution

We can return if the value exists, as well as the value itself in a single method:

[code]

This is both safer (less chance of a nil-pointer exception) and

[2021-10-19 14:21] craicoverflow opened #1236 "`rhoas cluster clean -y` stderr output is inaccurate"
## Description

When I run `rhoas cluster clean` with `-y`, it bypasses the confirmation dialog, yet it still asks prints the question:

[code]

The text `Do you want to remove all secrets and RHOAS operator resources in your current namespace: "enda"` should be replaced with `Removing all secrets and operator resources in namespace "enda"`

[2021-10-19 14:40] bhardesty opened #1238 "Incorrect formatting for rhoas kafka acl * command long descriptions"
## Description

**Version**: main

The long description of some of the rhoas kafka acl * commands is formatted incorrectly.

### Steps to reproduce

Check the "Synopsis" section for the following commands:

* https://github.com/redhat-developer/app-services-cli/blob/main/docs/commands/rhoas_kafka_acl.adoc#synopsis
* https://github.com/redhat-developer/app-services-cli/blob/main/docs/commands/rhoas

[2021-10-19 15:20] #1197 closed, assigned to nobody

[2021-10-20 07:22] rkpattnaik780 opened #1242 "Improve logging of service account credentials generated via `cluster connect`"
## Description

**Version**: 0.34.2

Currently the CLI prints the client ID of generated service account to the terminal.
Investigate if the credentials could be stored in a file or some better approach for logging it.

[2021-10-20 07:59] rkpattnaik780 commented on #1175
Fixed by #1179

[2021-10-20 07:59] #1175 closed

[2021-10-20 08:01] craicoverflow commented on #1242
Is there a way in which it would make sense to attach the client ID to the KafkaConnection CR?

[2021-10-20 08:37] craicoverflow commented on #1242
It may not be indeed, but I do think we need to make the client ID retrievable in some way at a later point in time, or have the user save it to a file during `cluster connect`.

[2021-10-20 09:35] #1238 closed, assigned to craicoverflow

[2021-10-20 14:29] craicoverflow opened #1246 "Use flag abstraction in `kafka` commands"
There is a new flag type that encapsulates the default flasg and provides some helpers.

In the `kafka create`, `kafka delete`, `kafka describe`, `kafka update`, `kafka topic *`, `kafka consumer-group *` commands, replace the use of `cmd.Flags().*` with this new type.

Example:

[code]

Anywhere you see an `output`, `yes` flag, use the helper, example:

[code]

[2021-10-20 14:40] #1233 closed, assigned to nobody

[2021-10-20 14:54] craicoverflow opened #1247 "Kafka ACL table should print the mapped values instead of directly printing the enums from the backend"
For the ACL CRUD commands we have mapped all enums from permission, operation, resource type to lower case forms. There are a couple of reasons making the user enter uppercase values is not preferred and we should try to avoid this:

- It is more difficult to type, as the user must turn on CAPS LOCK.
- It is more difficult to read, as uppercase letters are more uniform and harder to tell apart.

C

[2021-10-21 08:38] rkpattnaik780 opened #1250 "Remove acl list operation to preview ACLs to be deleted"
## Description

**Version**: 0.34.2

`kafka acl delete` makes an acl list query to get a preview of the ACL rules to be deleted. This causes an issue whenever the specific rule is defined for `all accounts` as well.

Orginally discussed [here](https://github.com/redhat-developer/app-services-cli/pull/1218#issuecomment-948351867)

### Steps to reproduce

1. Create same ACLs for user "abc" and all a

[2021-10-21 08:49] gkpani97 commented on #1224
Hello @craicoverflow , I'm interested in solving this issue, can you assign it to me.

[2021-10-21 10:44] craicoverflow commented on #1250
No, I'm not necessarily looking to, I just wanted to avoid any assumptions. Could you assign this to yourself if you plan on checking it out? I think it's important to do soon.

[2021-10-25 19:14] #1236 closed, assigned to himanshu007-creator

[2021-10-27 11:57] rkpattnaik780 opened #1260 "Client side validation for service-account inputs for ACL commands"
Multiple ACL commands use `--service-account` flag. DEscription might not always be enough to prevent user from providing `client ID` instead of `service-account id`. Some client side side validation would be useful to let the user know the difference between service account ID and client ID.

Originally raised by @wtrocki

[2021-10-27 12:07] wtrocki opened #1261 "rhoas cluster connect should print instructions for service account enablement per service"
## Description

We should print separate messages for each service with specific rhoas cluster command

[2021-10-28 06:49] #1199 closed, assigned to rkpattnaik780

[2021-10-28 08:08] rkpattnaik780 opened #1263 "Missing i18n keys for pagination flags"
## Description

**Version**: 0.34.2

The following i18n keys are missing but are being used:
- kafka.common.size.error.invalid.minValue
- kafka.common.page.error.invalid.minValue

### Steps to reproduce

1. Run `rhoas kafka topic list --size 0`.
2. Run `rhoas kafka topic list --page 0 `

[2021-10-28 11:47] #1263 closed, assigned to wtrocki

[2021-10-28 12:02] #1261 closed, assigned to nobody

[2021-10-29 11:54] wtrocki opened #1270 "Cluster connect/bind relation should be documented better in the CLI"
### Feature or problem description

We should provide documentation how those two commands interact with each other.

[2021-10-29 14:27] wtrocki opened #1271 "Changing owner of the Kafka doesn't allow us to control ACLs"
## Description

Creating more as discussion if that is an issue and where it should be solved.
Changed owner of the Kafka to myself.
Trying to create ACL:

[2021-11-02 13:27] wtrocki opened #1272 "Lack of support for ARM M1 binaries (new apple laptops)"
## Description

Lack of support for ARM M1 binaries (new apple laptops).
We need  to add goreleaser support for this type of binary and test it

[2021-11-02 13:28] wtrocki commented on #1272
@craicoverflow do you have  Apple laptop with M1 chip for testing binary?

[2021-11-02 14:26] #1272 closed

[2021-11-03 09:15] craicoverflow commented on #1272
I do not.

[2021-11-03 09:17] craicoverflow commented on #1272
Was this resolved?

[2021-11-03 09:32] wtrocki commented on #1272
Yes. https://github.com/redhat-developer/app-services-cli/releases/tag/v0.36.0-beta2

[2021-11-03 11:37] wtrocki opened #1275 "Service registry creation is broken due to old terms and conditions."
## Description

We need to check old terms and conditions for service registry.

[2021-11-03 11:49] craicoverflow commented on #1275
Should it be that the service registry should also support the new T&Cs? Why are they diverging?

[2021-11-03 11:58] wtrocki commented on #1275
Service registry will support old TC

[2021-11-04 10:42] wtrocki opened #1277 "kafka create doesn't handle regions properly"
## Description

We fetch regions from API only in the interactive mode.
We do not have validation for provider or region or provide shell extension for those values.

[2021-11-04 10:43] wtrocki opened #1278 "rhoas kafka acl delete is not functional"
## Description

Delete command doesn't seem to recognize existing ACL rules.
Trying to deleting ACL rule according to the spec returns zero matches.

[2021-11-04 10:44] wtrocki commented on #1278
Reported today. I think @craicoverflow is working on improving delete as we have done it with some asumptions/decisions that might not be valid/problematic.

[2021-11-04 11:09] fvaleri opened #1279 "Service account describe by ID"
`service-account describe` works by ID, but I know the SA name when creating a new one, and this is what I would like use to get the corresponding ID, without having to grep the `service-account list` first.

[2021-11-04 13:02] craicoverflow commented on #1277
The reason for this is that the region will depend on the cloud provider. AWS may have eu-west-1 but may not have eu-west-2, which Google Cloud has. With flags, you have not selected a cloud provider, so a region will not be loaded.

Let's leave this open though, to see if there is anything we can do.

[2021-11-04 13:08] wtrocki commented on #1277
Yes. We should validate cloud provider and region together

[2021-11-04 13:17] craicoverflow commented on #1277
Can you elaborate?

[2021-11-04 13:21] #1275 closed

[2021-11-04 13:31] craicoverflow commented on #1278
@wtrocki what would help me a lot is an example of the command that was executed, what happened versus what was expected.

[2021-11-04 13:46] craicoverflow commented on #1279
Thank you @fvaleri for raising this. We are actively working with the backend teams to support this, #1260 is also blocked by this.

[2021-11-04 13:56] fvaleri commented on #1279
Ok, thanks for the feedback @craicoverflow.

[2021-11-04 15:31] wtrocki commented on #1277
We do not provide validation for cloud and region. User can provide any value

[2021-11-04 15:32] craicoverflow commented on #1277
Thank you.

[2021-11-04 16:09] wtrocki opened #1282 "Create does not handle well "all" as alias creating topic with all"
## Description

[code]

Expected

[wtrocki@graphapi app-services-cli (main)]$ rhoas kafka acl create --operation alter --permission deny --user wtrocki@redhat.com --topic all
debugEnabled false
The following ACL rules are to be created:

  PRINCIPAL            PERMISSION   OPERATION   DESCRIPTION
 -------------------- ------------ ----------- ----------------
  wtrocki@redhat.com   DENY         AL

[2021-11-04 16:10] wtrocki opened #1283 "Delete command should print out rules that were deleted on the backend"
## Description

Delete command should print out rules that were deleted on the backend

[2021-11-04 16:11] craicoverflow commented on #1278
Should this be closed?

[2021-11-04 16:12] craicoverflow commented on #1283
By the way, [here](https://github.com/redhat-developer/app-services-cli/issues/1250#issuecomment-948425954) is the reason we removed the preview (which is a better UX). It would require backend changes.

[2021-11-04 16:12] wtrocki commented on #1278
Still testing but issue is vague so will close it and create proper issue once there

[2021-11-04 16:12] #1278 closed

[2021-11-04 16:24] wtrocki opened #1284 "ACL progress bar breaks output when error is printed"
## Description

Example
[code]

[2021-11-04 16:29] wtrocki opened #1285 "ACL Cannot use principals with @"
## Description

wtrocki@graphapi app-services-cli (main)]$ rhoas kafka acl create --operation alter --permission deny --user wtrocki@redhat.com --topic all
debugEnabled false
The following ACL rules are to be created:

  PRINCIPAL            PERMISSION   OPERATION   DESCRIPTION
 -------------------- ------------ ----------- ----------------
  wtrocki@redhat.com   DENY         ALTER       TOPIC is

[2021-11-04 16:50] wtrocki commented on #1285
https://github.com/bf2fc6cc711aee1a0c2a/kafka-admin-api/pull/143

[2021-11-04 17:01] #1250 closed

[2021-11-05 07:46] wtrocki commented on #1285
Fixed on QA

[2021-11-05 07:46] #1285 closed

[2021-11-05 09:28] wtrocki opened #1288 "Provide dynamic configuration that CLI downloads on login"
### Definition of the problem

Users downloading CLI sporadically and might not update it often.
We need ability for CLI to turn on/off certain features after CLI is released to not force users to update every time we introduce some breaking change.

## Examples

We need to be able to turn off mas-sso when it is migrated. Migration will be instantaneous - meaning we would not have period of 2 SSO

[2021-11-05 11:55] #1283 closed

[2021-11-05 11:57] craicoverflow opened #1290 "Add abstraction of download source"
## The problem

Currently, the CLI assumes the download source to be from upstream (GitHub release).

We now have two possible download sources: GitHub and a productised version which will be downloadable from developers.redhat.com. In the future there could be others such as DNF repositories or Brew.

There is a version checking system in place which checks only GitHub for a new version. This wil

[2021-11-05 12:08] wtrocki commented on #1290
My preference would be to not mix upstream releases with product. Product team should have their own answers to brew, dnf etc. We should not do it on our own and follow what other CLI from product use.

Personal opinion
 Install script is better remain github/upstream especially since we are still not 1.0 and we require people to update very often from github. Doing so many downstream releases wil

[2021-11-05 12:12] wtrocki commented on #1290
I do not like product leaking to upstream and also want to push to get value of productization process. Setting up call to discuss how others planning to do it as I'm aware there are discussions about generic cli publishing space thru product

[2021-11-05 12:23] craicoverflow commented on #1290
I think you are missing the point of this. This is nothing to do with dnf or yum. We have an upstream and product release, but the CLI is internally checking for new versions against upstream..t hat check should be different for the productised CLI.

[2021-11-05 12:33] #1227 closed

[2021-11-05 12:33] craicoverflow commented on #1247
Taking this one now.

[2021-11-05 12:40] wtrocki commented on #1247
Should this wait for release?

[2021-11-05 12:42] craicoverflow commented on #1247
No, it's fine, there are several places that need to be updated for this.

[2021-11-05 15:39] #1247 closed

[2021-11-08 11:29] craicoverflow opened #1294 "Add ability to bypass terms and conditions check when creating a Kafka or service registry instance"
## Problem

It would be useful if the kas-installer could just use the rhoas cli, that would allow several of the scripts that currently > support the kas-installer to be removed and drive all our use-cases towards one set of tooling.

One barrier is the T&C check made by the CLI. When you run kas from the kas-installer, fleet-manager is configured not to enforce a T&C check, but the CLI doesn't k

[2021-11-08 11:35] craicoverflow commented on #1294
My preference for this would be to use a flag which is hidden from completions and documentation.

We can hide a flag in Cobra easily:
[code]

A benefit of a flag is we can direct users to try this option of the terms and conditions pre-check is causing issues.

[2021-11-08 11:36] wtrocki commented on #1294
+1 for CLI flag

[2021-11-08 14:50] #1294 closed

[2021-11-08 20:52] craicoverflow opened #1300 "Inaccurate message when creating multiple ACLs"
[code]

"The following ACL rule is going to be created:" implies a single ACL, but the ACL creates multiple.

[2021-11-08 20:59] wtrocki commented on #1300
LGTM

[2021-11-09 07:05] rkpattnaik780 opened #1301 "Lag/Anomaly in synchronous in Kafka creation"
## Description

**Version**: 0.36.2

Yesterday while creating a Kafka instance in synchronous mode, it took unusually long time. Checking with `kafka list` and `kafka describe` showed it to be ready.

![Screenshot from 2021-11-08 20-41-59](https://user-images.githubusercontent.com/23582438/140877404-ed1879c0-a405-4667-807c-059dd77a0811.png)

### Steps to reproduce

This issue might be encountered

[2021-11-09 08:15] rkpattnaik780 opened #1302 "Broken update summary for Kafka update operation"
## Description

Update summary while doing owner update seems to be broken.

**Version**: 0.36.2

![Screenshot from 2021-11-09 13-35-36](https://user-images.githubusercontent.com/23582438/140886613-c5c84508-69d3-4bfd-a2a3-50189a0192c0.png)

### Steps to reproduce

Change owner for a given kafka instance
[code]
It should display the update summary.

[2021-11-09 08:56] craicoverflow commented on #1302
That is likely caused by the SDK changes in https://github.com/redhat-developer/app-services-cli/pull/1297

[2021-11-09 09:04] craicoverflow commented on #1300
Can you explain? You approve of this issue or you think that the current version looks good to you?

[2021-11-09 09:08] craicoverflow commented on #1282
I think you have fixed this now @wtrocki

[2021-11-09 09:08] craicoverflow commented on #1288
Title needs to be clarified.

[2021-11-09 09:18] craicoverflow commented on #1301
Have you experienced this on the released CLI, or just with the dev (local) version?

[2021-11-09 09:30] wtrocki commented on #1300
Truth is. It was long day and...
I was thinking that is PR 😆  Ignore my comment :D

[2021-11-09 09:30] rkpattnaik780 commented on #1301
Both

[2021-11-09 09:30] #1282 closed

[2021-11-09 11:14] rkpattnaik780 commented on #1302
Do we need to add an additional flag for [reauthentication_enabled](https://github.com/redhat-developer/app-services-sdk-go/blob/b336464c92c51db788c609fc53073bf07082b91a/.openapi/kas-fleet-manager.yaml#L1201) too?

[2021-11-09 11:20] craicoverflow commented on #1302
No, not yet anyway. Product management will produce some epics and we can add it then.

[2021-11-09 11:44] wtrocki commented on #1302
No need.
I would discuss that with PM.

[2021-11-10 09:48] wtrocki commented on #1288
@craicoverflow would you have time to work on this for context of dynamic disabling of mas-sso

[2021-11-10 09:48] wtrocki opened #1304 "Login page is missing image"
## Description

Confirmed on main. Not sure if that is also happening on released version.

![Screenshot 2021-11-10 at 09 47 04](https://user-images.githubusercontent.com/981838/141090226-f90c7966-5504-43b0-a97e-7bdddb5161de.png)

[2021-11-10 09:52] craicoverflow commented on #1288
Yep.

[2021-11-10 10:28] btison opened #1305 "rhaos cluster connect --namespace not working"
## Description

**Version**:

### Steps to reproduce

1. Using `rhoas` command line, create a kafka instance
2. In OpenShift, create a project `rhoas-test-1`, and a project `rhoas-test-2`
3. Set `rhoas-test-1` as current project: `oc project rhoas-test-1`
4. Using `rhoas`, create a KafkaConnection in namespace `rhoas-test-2`: `rhoas cluster connect --token $TOKEN --namespace rhoas-test-2`

### Exp

[2021-11-10 11:13] wtrocki opened #1306 "Support multiple use cases for configuring managed services - Local Dev, Helm, SBO etc."
# Feature or problem description

We need to be able to generate configuration and support Kubernetes native deployment models

## Top-level overview

![config](https://user-images.githubusercontent.com/981838/141105783-01b5b6bf-5571-4aef-b30a-91f26fc06f69.png)

Config - user accessible configuration for managed services - Do not confuse with CLI internal config containing login details etc.

## M

[2021-11-10 11:19] wtrocki commented on #1306
This issue is dedicated for investigating a number of new ideas like "killing Operator", "Killing rhoas cluster connect" etc. ;)

[2021-11-10 11:20] wtrocki commented on #1306
FYI @secondsun @craicoverflow Let's discuss that again on next weeks technical call - I should have demo for this by then

[2021-11-10 11:35] wtrocki commented on #1306
FYI @pmuir

[2021-11-10 13:02] craicoverflow commented on #1304
The reason this is happening is that MAS-SSO completes the token exchange faster than it can load the content static file server. The flow is programmed to kill the server as soon as the token exchange is completed.

We could:

- Remove the logo from MAS-SSO redirect page as this will be gone soonish anyway
- Place a time.Sleep to give the server time to load the files - I don't think we should do

[2021-11-10 13:13] wtrocki commented on #1306
This issue is going to resolve https://github.com/redhat-developer/app-services-cli/issues/637

[2021-11-10 13:13] wtrocki commented on #637
Proposed solution in https://github.com/redhat-developer/app-services-cli/issues/1306

[2021-11-10 13:17] wtrocki commented on #1304
Remove image for now as mas-sso days are counted in weeks.

[2021-11-10 14:12] craicoverflow opened #1308 "Revert the workaround added in #1292 once all users are on at least v0.36.2"
This workaround was added to cater for a breaking API change. When enough users have stopped using older CLI versions we can revert that PR commit.

[2021-11-10 14:14] craicoverflow commented on #1288
Change priority from `critical` to `important-soon`.

[2021-11-10 14:50] wtrocki commented on #1288
That is fair. I will assign that to me to formulate plan and get details.

[2021-11-10 20:43] wtrocki opened #1310 "Verify if asciicheck runs in golangcilint"
Context
https://certitude.consulting/blog/en/invisible-backdoor/

[2021-11-11 10:01] #1305 closed

[2021-11-11 10:14] wtrocki commented on #1302
We have separate epic to cover  reauthentication_enabled that is not yed prioritised. We can ignore that for now

[2021-11-11 16:24] craicoverflow opened #1312 "Builds are failing on the main branch"
The builds are failing on the main branch, needs investigation.

[2021-11-11 16:42] craicoverflow opened #1313 "CLI Guidelines: Input"
- Arguments (patterns and descriptions)
- Flags (patterns and descriptions

[2021-11-11 16:43] craicoverflow opened #1314 "CLI Guidelines: Subcommands"
- Kebab-case, lowercase, singular words, “noun verb”

[2021-11-11 16:43] craicoverflow opened #1315 "CLI Guidelines: Robustness"
- Responsiveness is more important than fast
- Validate user input

[2021-11-12 06:16] rkpattnaik780 opened #1316 "Remove reflect from kafka update preview"
## Description

The kafka update preview currently uses reflect package to parse data dynamically from `updateObj` struct. It depends largely on the SDK typings which can introduce breaking changes that could go undetected with the dynamic approach.

It can be simplified by operating directly on the SDK model properties.

Originally raised [here](https://github.com/redhat-developer/app-services-cl

[2021-11-12 07:18] rkpattnaik780 commented on #1312
fixed by #1299

[2021-11-12 07:18] #1312 closed

[2021-11-12 10:41] #1224 closed

[2021-11-12 10:41] #1302 closed

[2021-11-12 11:11] wtrocki commented on #1316
Do you want me to see if backend can fix it?

[2021-11-12 11:13] craicoverflow commented on #1316
This is not something the backend can fix.

[2021-11-12 11:14] wtrocki commented on #1316
Ok. I got impression that defining objectbin openaoi will fix it

[2021-11-15 08:19] rkpattnaik780 commented on #1209
While it is possible to check if a rule exists before every creation using filters, it might slow down commands that create multiple rules using synchronoyus API requests. My take would be to - close it or keep it blocked till API supports batch creation and lookup. Wdyt @craicoverflow @wtrocki ?

[2021-11-15 09:20] craicoverflow commented on #1209
I agree with you. Due to the idempotent nature of the command, nothing dangerous or unexpected can happen from running the command twice.

Another option: is there a different status code returned if an ACL already exists? If so, we could track the number of successful requests and diff it against the total number of requests.

[2021-11-15 09:38] wtrocki commented on #1209
I like us to bounce those ideas with Kafka sounding board to ask kafka experts what they would typically expect. I'm happy to facilitate them with their group

I'm in no means expert but it feels like this will be hard to do as grant access commands have non binary results so it will be hard to check if access is there without false positives.

[2021-11-15 09:43] wtrocki commented on #1209
Example. If first rule exist but others do not user experience is to delete it manually? Or cli delete it?

Sometimes easier solutions have better UX as users understand behaviour. Command creates set of acl always etc.

[2021-11-15 09:43] craicoverflow commented on #1209
Since a couple of approaches are mentioned in this issue, could you go into which option you think will be hard to do? Just so that there are no misunderstandings.

[2021-11-15 10:52] rkpattnaik780 commented on #1209
Upon investigating, same status code is returned if the ACL already exists.

[2021-11-15 12:22] rkpattnaik780 commented on #1192
Fixed by #1207

[2021-11-15 12:22] #1192 closed

[2021-11-15 12:23] wtrocki commented on #1209
I really do not want to discuss any technical solutions without understanding if that requirement makes sense. Core issue here is that we seem to bring this new requirement in GitHub, so first for us would be to bring and validate that requirement with stakeholders etc.

[2021-11-15 12:38] wtrocki commented on #1209
Upon validation it looks like there is no duplicate ACLs possible so IMHO we should ask backend to implement ability to detect existing acl/return different code

[2021-11-15 13:18] craicoverflow commented on #1209
Yes, this is the approach suggested earlier. What has changed so that we should not bring this to the Kafka sounding board?

[2021-11-16 08:35] rkpattnaik780 opened #1318 "Wrong help test for `--output` in `service-registry artifact create`"
## Description

**Version**: 0.36.3

The `--output` flag for `service-registry artifact create` has description - Format in which to display the Service Registry instance.
It should be changed to : `Format in which to display the artifact`

![Screenshot from 2021-11-16 00-43-01](https://user-images.githubusercontent.com/23582438/141949703-7dc1ef8e-7bfb-4335-b5e2-424f9ac2c4aa.png)

### Steps to rep

[2021-11-16 08:52] craicoverflow commented on #1318
We should use the common flag set for all `output` and `yes` flags:

https://github.com/redhat-developer/app-services-cli/blob/060f870988c2bc77fabc4ea1d3e9c5a95d2b7fce/pkg/cmdutil/flagutil/flagset.go#L35-L66

The approach can be pretty much cloned from here: https://github.com/redhat-developer/app-services-cli/blob/e56d44356618fab98b3db1c8c76b22d58232798e/pkg/cmd/kafka/topic/create/create.go#L130-

[2021-11-16 09:54] rkpattnaik780 commented on #1318
Would you like to create a separate issue for this task?

[2021-11-16 10:06] #1318 closed

[2021-11-16 10:28] craicoverflow opened #1320 "Use the common flag set across all commands"
We should use the common flag set in all commands which still directly use `cmd.Flags()` directly.

https://github.com/redhat-developer/app-services-cli/blob/060f870988c2bc77fabc4ea1d3e9c5a95d2b7fce/pkg/cmdutil/flagutil/flagset.go#L35-L66

The approach can be pretty much cloned from here: https://github.com/redhat-developer/app-services-cli/blob/e56d44356618fab98b3db1c8c76b22d58232798e/pkg/cmd/kaf

[2021-11-16 10:32] wtrocki commented on #1320
Agree. Although I would connect this work with some form of mini SDK for creating RHOAS CLI rather than issue on it's own

[2021-11-16 10:40] craicoverflow commented on #1320
https://github.com/redhat-developer/app-services-cli/issues/965 has been open a while now to track refactoring the CLI public API. Since we don't have any short term plaans for a mini-SDK, I'd prefer to keep it disconnected for now, it can be tackled before then.

[2021-11-16 10:59] rkpattnaik780 opened #1321 "Creating a new artifact should return the URL to it"
### Feature or problem description

When creating an artifact in Schema Registry in CLI, it should print the URL to UI to view the newly created artifact.

### Proposed solution

The artifact url in the ui looks something like this - `https://console.redhat.com/beta/application-services/service-registry/t/d5e6012f-ce90-4aaf-85b3-5f6e21a97e60/artifacts/default/rama-5/versions/latest`

URL format: `

[2021-11-16 18:03] #1321 closed

[2021-11-16 18:04] rkpattnaik780 commented on #1321
@wtrocki would we like something similar for get metdata command?

[2021-11-16 18:07] wtrocki commented on #1321
Sure.

[2021-11-17 06:35] rkpattnaik780 opened #1323 "Print URL to view artifact in browser while getting the metadata"
### Feature or problem description

`rhoas service-registry artifact metadata-get` should print the URL to UI to view the artifact as well.

### Proposed solution

The artifact url in the ui looks something like this - `https://console.redhat.com/beta/application-services/service-registry/t/d5e6012f-ce90-4aaf-85b3-5f6e21a97e60/artifacts/default/rama-5/versions/latest`

URL format: `<registry-brows

[2021-11-17 08:28] rkpattnaik780 commented on #1122
Fixed by #1187

[2021-11-17 08:28] #1122 closed

[2021-11-17 09:19] craicoverflow commented on #1323
Would it be a good idea to add it as an option in `--output=web` which would automatically open it in the browser?

[2021-11-17 09:20] craicoverflow commented on #350
Will be done in #1306

[2021-11-17 09:20] #350 closed

[2021-11-17 09:25] wtrocki commented on #350
@craicoverflow thank you for finding this. In this issue we have raised very valid concern that we will need to solve.

Profiles need to be validated before executing - we need to check if services still exist etc.

[2021-11-17 09:28] rkpattnaik780 commented on #1323
I was thinking of `--web` flag to open in browser maybe? We can discuss it with team.

[2021-11-17 09:31] craicoverflow commented on #1323
If we had `--json` and `--yaml` then yes I would agree - but we have already aligned to the standard of `--output` to determine how it should be displayed. Sure, we can discuss before making any move.

Relates to #317

[2021-11-17 10:04] craicoverflow opened #1325 "It should be possible to create an artifact from a remote URL"
### Feature or problem description

I want to create an artifact using a schema from a remote HTTP file instead of a local file:

[code]

[2021-11-17 12:24] #1323 closed

[2021-11-18 09:10] craicoverflow commented on #1260
We could do fully client-side validation as it will be months before the service account API will be ready. Validation is very important so if we can do _any_ we should.

[2021-11-18 09:35] rkpattnaik780 commented on #1260
We should put a regexp for client id validation for now I guess.

[2021-11-18 09:37] wtrocki commented on #1260
I think we should contribute that endpoint to backend.
Done investigation and it happen to be trivial due to ability to provide search attribute containing clientId

https://github.com/bf2fc6cc711aee1a0c2a/kas-fleet-manager/blob/0eade24f6d5056faeed5835106bbd8c1ba5266a5/pkg/services/keycloak.go#L320

I'm was on lookout for someone who would do it but we can do it ourselves.

[2021-11-18 09:40] craicoverflow commented on #1260
What I mean is we can:

1. Pull ALL service accounts from the backend
2. Cache them and check locally if they exist.

We had a call with the fleet manager team last week where we agreed that this is something that should wait as any change made in the kas-fleet-manager would also need to be applied to the new service account CIAM API. Any contributions there would need to be synchronized/approved

[2021-11-18 09:44] wtrocki commented on #1260
I had 2 calls after that :) and action for next week to discuss with PM and do it in our team.
No one will do it unless:

- We raise this with PM
- We do it ourselves

So we agreed that their team doest want to do it.
Lack of this endpoint is really bad experience.
Users cannot effectively reset their service account knowing only clientId etc. Validate user input.

I recomend to not do any client

[2021-11-18 09:45] craicoverflow commented on #1260
Fair enough. I recommended client-side validation on the presumption that it would not be possible short-term on the backend.

[2021-11-22 07:04] rkpattnaik780 opened #1330 "Handle "all" alias for user and service account flags in kafka acl commands"
## Description

**Version**: 0.36.4

Handle "all" alias as flags `--service-account` and `--user` flag for kafka acl commands.

### Steps to reproduce

Add the steps required to reproduce this error.

1. Run command to grant admin access to all service accounts using alias "all"

2. This should show the preview:
[code]

### Expected behaviour

The alias should be identified and proper error messag

[2021-11-22 11:31] rkpattnaik780 commented on #1229
Looking for some feedback @craicoverflow @wtrocki . Does the following qualify as to how we should be displaying the flag errors?

![Screenshot from 2021-11-22 16-50-30](https://user-images.githubusercontent.com/23582438/142853152-7c9b0bbc-afe8-4380-8551-df22c909f243.png)

[2021-11-22 11:36] wtrocki commented on #1229
Do you mean if we should use "--topic" vs "topic flag" ?

[2021-11-22 11:38] craicoverflow commented on #1229
No. It is about aggegrating all errors into one instead of "drip-feeding". The issue description should provide more context.

[2021-11-22 11:40] craicoverflow commented on #1229
Yes @rkpattnaik780 that is more or less how it should be. The error should be formatted more though just to make it more readable (some indentations or maybe bullet-points)..see what looks best.

[2021-11-22 11:46] #642 closed

[2021-11-23 12:18] #1209 closed

[2021-11-23 12:19] #1212 closed

[2021-11-23 12:20] #1242 closed

[2021-11-23 13:27] #317 closed

[2021-11-23 14:03] wtrocki commented on #637
We have plans to support this using environments and done POC for it. As for now we cannot provide/hack something that will give that capability. Closing however I will keep you updated when feature will be done

[2021-11-23 14:03] #637 closed

[2021-11-23 14:04] #655 closed

[2021-11-23 14:05] #753 closed

[2021-11-23 14:05] #768 closed

[2021-11-23 14:45] wtrocki commented on #841
@craicoverflow You are assigned on this issue. What is the status?

[2021-11-23 14:45] #877 closed

[2021-11-23 14:46] wtrocki commented on #917
We actually have jira requirement for that feature as part of the advanced use cases. We going to close that issue as we are moving to jira issues.

[2021-11-23 14:46] #917 closed

[2021-11-23 14:46] #933 closed

[2021-11-23 14:47] wtrocki commented on #965
Would that fit into reformating of the CLI/Improvements of the packages?

[2021-11-23 14:47] wtrocki commented on #1086
Done

[2021-11-23 14:47] #1086 closed

[2021-11-23 14:48] #999 closed

[2021-11-23 14:50] wtrocki commented on #1095
I believe that we track that in the epic created by @craicoverflow . Can you confirm?

[2021-11-23 14:50] #1095 closed

[2021-11-23 14:50] #1204 closed

[2021-11-23 14:51] craicoverflow commented on #1095
I'm unaware of such a thing. Maybe @rkpattnaik780 knows?

[2021-11-23 14:54] wtrocki commented on #1260
We should have now epic for that work. Closing

[2021-11-23 14:54] #1260 closed

[2021-11-23 14:55] #1270 closed

[2021-11-23 15:13] wtrocki commented on #1095
I have created requirement to cross team epic. Please disregard

[2021-11-23 15:13] #1188 closed

[2021-11-23 15:14] wtrocki commented on #1288
Some concerns were raised about that. Closing for now and will consider epic if needed

[2021-11-23 15:14] #1288 closed

[2021-11-24 06:33] #1330 closed

[2021-11-24 16:41] #1315 closed

[2021-11-24 16:42] #1314 closed

[2021-11-24 16:42] #1313 closed

[2021-11-24 16:42] #1100 closed

[2021-11-24 16:42] #1093 closed

[2021-11-24 16:42] #1091 closed

[2021-11-24 16:42] #1088 closed

[2021-11-24 16:42] #1087 closed

[2021-11-24 16:43] wtrocki commented on #1165
Sadly this is not going to be possible - we have requirement for that in jira but it haven't been prioritized by BU to force us to have backend support

[2021-11-24 16:43] #1165 closed

[2021-11-24 16:47] #1310 closed

[2021-11-24 16:47] wtrocki commented on #1271
This seems to be fixed

[2021-11-24 16:47] #1271 closed

[2021-11-24 16:48] wtrocki commented on #1308
@craicoverflow now we need to revert the revert as backend improvement were reverted.

FYI @rkpattnaik780

[2021-11-24 16:49] wtrocki commented on #1306
Done demo

[2021-11-24 16:49] #1306 closed

[2021-11-24 16:51] wtrocki commented on #1115
I have moved that issue to jira

[2021-11-24 16:51] #1115 closed

[2021-11-24 17:00] wtrocki commented on #1115
Moved to jira.

[2021-11-24 17:01] #1103 closed

[2021-11-24 17:03] #1215 closed

[2021-11-24 17:04] wtrocki commented on #1301
@rkpattnaik780 Can you confirm if that is still happening?

[2021-11-24 17:10] wtrocki commented on #1123
Tracked in jira

[2021-11-24 17:10] #1123 closed

[2021-11-24 17:10] #1118 closed

[2021-11-24 20:15] #1201 closed

[2021-11-25 06:16] #1229 closed

[2021-11-25 08:06] #1290 closed

[2021-11-25 08:07] craicoverflow commented on #1279
This is now being tracked in JIRA and will be done.

[2021-11-25 08:12] rkpattnaik780 commented on #1301
It is still happening for me.

[2021-11-25 08:45] craicoverflow commented on #1301
Have you been able to see it in verbose mode to monitor network requests?

[2021-11-25 09:49] rkpattnaik780 commented on #1301
Unfortunately no, but I think one possibility for this to be happening would be the intermittent `dial tcp i/o timeout error`

[2021-11-25 09:55] craicoverflow commented on #1301
So it could be a network issue on your side?

[2021-11-25 10:04] wtrocki commented on #1301
I have tested that now using network conditioner and it seems to be working fine even with 3g networks.
It does actually exit when connection is too slow: https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/kafka/create/create.go#L251-L253

Let's leave it open. I was asking in hope that we can close that as intermittent issue but it looks like it would not be easy to find/solve

[2021-11-25 10:10] rkpattnaik780 commented on #1301
Tried creating artificial conditions during creation, it stops rather than continuing with the last status.

[2021-11-26 10:04] #841 closed

[2021-11-26 10:04] wtrocki commented on #1076
Closing as this was done. We need to merge the changes. I believe that @rkpattnaik780 was looking into that.

[2021-11-26 10:04] #1076 closed

[2021-11-26 10:08] wtrocki commented on #1147
@alexal With broken heart I need to close that PR unmerged. We would need to introduce our own parsing format.
Apologies for not including this.

[2021-11-26 17:21] wtrocki commented on #965
This is dev change. no epic but were already discussed and fine to fo

[2021-11-26 17:22] wtrocki commented on #1136
I added that as acceptance criteria to error handling epic

[2021-11-26 17:22] #1136 closed

[2021-11-26 17:23] wtrocki commented on #1159
Update. This is unlikely to be addressed in any time period due to backend not supporting it.

[2021-11-26 17:23] wtrocki commented on #1159
We need to push for better architecture on control plane to fix it

[2021-11-26 17:23] #1159 closed

[2021-11-26 17:30] wtrocki commented on #1301
Lets agree to reopen it when it happens again

[2021-11-26 17:30] #1301 closed

[2021-11-26 17:31] wtrocki commented on #1325
we should detect http(s) protocol use temp location for a file

[2021-11-29 10:47] wtrocki commented on #1325
Moved to story in jira

[2021-11-29 10:47] #1325 closed

[2021-12-01 16:56] bhardesty commented on #803
This was fixed as part of #819.

[2021-12-01 16:56] #803 closed

[2021-12-03 17:15] jfdenise opened #1341 "Ability to bind an application running in CRW workspace to a managed service"
### Feature or problem description

Today the rhoas CLI bind command requires a service and an app to inject the secret in the app deployment.

I am in a context where I want to bind a deployment running inside a CRW workspace container to a service (eg: kafka).

I can't target the CRW workspace deployment, the CRW POD will not get re-started (that is the CRW behavior).

### Proposed solution

* A

[2021-12-03 21:29] wtrocki commented on #1341
@jfdenise This fix is on our roadmap.
We going to build secret in cli and give developer ability to apply it the best way possible.

[2021-12-14 12:28] #1279 closed

[2021-12-14 12:29] #1147 closed

[2021-12-14 12:32] #1219 closed

[2021-12-14 12:37] craicoverflow commented on #1189
Closing this as we will eventually migrate to productized CLI on devportal.

[2021-12-14 12:37] #1189 closed

[2021-12-15 16:00] smccarthy-ie commented on #1225
@wtrocki @bhardesty Can this issue be prioritized? We've had feedback from new users about the CLI ref navigation, and with all the new RHOAS services coming onstream, this issue will only get worse. Thanks

[2021-12-15 16:35] wtrocki commented on #1225
Sure. I will do that now.
 Reason why we did not action it was lack of reply to the options. If you tell me what is the best way for you to go forward

[2021-12-15 16:56] wtrocki commented on #1226
Would Id stay the same

[code]

[2021-12-15 17:31] bhardesty commented on #1225
@wtrocki I think there are several options. What do you think would be best?

Option 1: We generate the assembly file in the upstream similar to the proposed solution above. The downside is that if we ever need to adjust anything in the assembly file for downstream publishing, we'll have to update the doc generation engine to build the assembly file differently.

Option 2: We just generate each co

[2021-12-15 18:29] wtrocki commented on #1225
Amazing feedback! Thank you so much. I done some code investigation and I feel that we can keep ascidocs specific to what dowstream wants as upstream will have markdown files anyway. mix of Option 3 and option 1 will land into PR

[2021-12-15 21:54] bhardesty commented on #1226
I don't think it will hurt anything downstream if the ID stays the same or if it changes to match the title of the section. If it's easiest for you, I'd say just leave the ID the same.

[2021-12-15 21:56] bhardesty commented on #1225
Thanks, @wtrocki! Once the PR is ready, I'll try to build the CLI ref guide downstream to verify.

[2021-12-16 14:13] maxandersen commented on #1341
@wtrocki would these be mounted in same way as ServiceBinding spec ? that would be interesting imo .

[2021-12-16 14:32] wtrocki commented on #1341
Yes. Idea is to move from CLI creating resources using API to CLI creating files that you can include with your Quarkus app deployment, helm etc. Shared internal doc with you

[2021-12-21 11:25] wtrocki opened #1357 "Unused AMS api should be ignored from generation"
AMS API contains a lot of code that is widely unused - we use only single endpoint.
When generating we should keep one tag.

[2021-12-21 11:27] craicoverflow commented on #1357
This needs further clarity.

[2021-12-21 12:22] wtrocki commented on #1357
Updated

[2021-12-22 12:05] helio-frota opened #1358 "Question about permissions"
hi I found this `rhoas kafka acl create --all-accounts --permission allow --operation all --topic all -y`
https://github.com/redhat-developer/app-services-cli/blob/main/.cases/acl-delete.md#cases

Any chance to run a command to have full everything permissions including Kafka instance permissions to create users and etc?

thanks

[2021-12-22 12:19] helio-frota commented on #1358
:thinking:  I think I found `rhoas kafka acl grant-admin --all-accounts --instance-id c5hv7iru4an1g84pogp0` but I'm not sure
https://github.com/redhat-developer/app-services-cli/blob/main/docs/commands/rhoas_kafka_acl_grant-admin.adoc#examples

TBH I'm not sure if my question makes sense. For example, I'm looking for a command that allows everything without worrying about consumer-group prefix or

[2021-12-22 12:22] helio-frota commented on #1358
Just executed the command above

[code]

[2022-01-04 10:52] craicoverflow commented on #1320
This should be covered eventually by the SDK refactoring. Closing.

[2022-01-04 10:52] #1320 closed

[2022-01-04 11:44] rkpattnaik780 commented on #1358
Hello @helio-frota !

`acl grant-admin` command gives permissions only to create acl rules to the specified user(s) or service account(s) and is not for topic/consumer-group operations. Acls need to be created separately for allowing topic and consumer-group operations.
[code]
Or you can use `grant-access` command which allows producing and consuming messages
[code]

Hope this helps.

Thanks for r

[2022-01-04 13:33] helio-frota commented on #1358
@rkpattnaik780 thanks for the feedback, I'll try the commands you suggested :+1:

[2022-01-04 13:33] #1358 closed

[2022-01-06 11:33] craicoverflow opened #1370 "Ping test"
Hey @redhat-developer/app-services-cli-maintainers

[2022-01-06 11:35] wtrocki commented on #1370
Works :D

[2022-01-06 11:35] #1370 closed

[2022-01-06 11:36] #1300 closed

[2022-01-07 20:08] #1225 closed

[2022-01-10 11:20] #965 closed

[2022-01-10 11:24] #1308 closed

[2022-01-16 17:25] ppatierno opened #1386 "Command to show available providers and regions"
First of all sorry if there is a way to do what I am going to describe but I wasn't able to find any information in the doc.
I want to use `rhoas` CLI for interacting with the RHOSAK service.
In order to create a new Kafka instance, it seems I can specify the `--name` for the instance as well as the `--provider` and `--region` but I don't see any way to get the list of available providers and regi

[2022-01-16 21:02] wtrocki commented on #1386
@rkpattnaik780 FYI

Looking for feedback and good cmd name

rhoas kafka locations?

[2022-01-16 21:04] ppatierno opened #1387 "Removing `href` field from the JSON returned for a Kafka instance"
The `create` and `describe` commands when handling a Kafka instance return a JSON containing multiple useful information for the user.
The one I am not sure is really useful for the user is the `href` link which refers to the REST endpoint for handling that specific Kafka instance and that is actually used internally by the rhoas cli (so doing HTTP calls to that REST endpoint).

[code]

Is it real

[2022-01-16 21:09] wtrocki commented on #1387
Good idea!

For contributors
I feel like this would be SDK and control plane issue. We can flag in openapi fields in control plane that are internal as our clients return what backend returns. Then SDK will not include them

[2022-01-17 09:37] wtrocki commented on #1386
Before doing it. @craicoverflow do you have any suggestions for that command?

[2022-01-23 12:09] ppatierno opened #1394 "Tribool used for --reauthentication option showed in the printed help"
When asking for the help of the `rhoas kafka update` command, we get the following about the `--reauthentication` flag.

[code]

I think that "Tribool" string is really confusing assuming that user can chose just between `true` and `false` if he wants re-authentication enabled or not on his Kafka instance.
I checked the code but not sure why a new `Tribool` type was used for that option, maybe any

[2022-01-23 12:38] wtrocki commented on #1394
I agree. Tribool is not something universally known. Tribool is actually implementation detail of go that allows empty value.
We going to fix that - I think boolean is self explanatory.

[2022-01-23 14:00] ppatierno opened #1395 "Retention bytes `-1` default value could not be clear to the user"
When handling topics on a Kafka instance, the retention bytes option help is printed as following.

[code]

The description is clear but people could not understand what negative value as `-1` could mean as default unless reading the Kafka documentation which explains that it means "no limit in size".
Not sure if this is the way to go for a user or we should try to explain better.
Anyway, taking a

[2022-01-23 15:04] ppatierno commented on #1394
@wtrocki thanks but what does the empty value mean in this case regarding a configuration parameter which can be just true or false, just curious about of it.

[2022-01-23 16:25] wtrocki commented on #1394
Command sets various configurations. Empty value means:

this is also default value

[2022-01-23 17:05] ppatierno commented on #1394
but if I am updating some Kafka instance info and I don't want to change the `reauthentication` as it is currently set on backend I can just not specify it ... or I don't get what you mean :-)

I guess that you mean default value for the CLI itself that when talks to the control plane doesn't specify any reauthentication or just empty so the control plane creates the Kafka instance with the defaul

[2022-01-24 13:35] rkpattnaik780 commented on #1394
Hi @ppatierno
We had to introduce tribool as omitting the flag still mapped to false (which could make things complex when user omits the `--reauthentication` flag when the re authentication is enabled for the kafka instance). A tribool allowed us to detect if flag has been set deliberately.
I agree tribool looks confusing in the docs, we will get to a workaround and remove it.

[2022-01-24 13:44] wtrocki commented on #1394
To be correct - we only want to remove tribool from docs and replace it with bool. Is that right

[2022-01-25 07:17] rkpattnaik780 commented on #1395
Since the -1 comes from the supplied default value, I think the only way to explain what it is will be to add an extra line in the description - "By default, no retention size limit is applied", or something similar.

[2022-01-25 08:07] ppatierno commented on #1395
I think it's the only way because AFAIK there is no way to add a text to describe the default value through flags package.

[2022-01-25 08:30] rkpattnaik780 commented on #1386
How does `rhoas kafka list-regions` sound?

[2022-01-25 08:41] wtrocki commented on #1386
@craicoverflow will be expert in terms of guidance.

Service registry has some examples of 2 part commands

[2022-01-25 08:59] craicoverflow commented on #1386
I love it. It fits very nicely with the existing language.

[2022-01-26 22:43] wtrocki opened #1398 "kafka create --wait option prints invalid output"
Originally reported by @ppatierno

I remember that I did the same over the weekend without this output

[2022-01-29 13:33] ppatierno opened #1402 "Allow to describe service account by `client_id` not just `id`"
Hi all,
when creating a service account I see that an `id` is assigned to it.
What's the main purpose of it compared to the `client_id` got when the service account is created?
I noticed that using `rhoas service-account describe` command it's possible to get information about a specific service account by searching by `id` not `client_id` (even if the `client_id` is then reported back in the JSON

[2022-01-29 13:37] ppatierno opened #1403 "The service account description reported back as name on describe"
When a service account is create via the `rhoas service-account create` command, it's possible to provide a so called description via the `--short-description` parameter.
When we use the `rhoas service-account describe` command, such an information is reported back as `name` field in the JSON and not as description.

[code]

Isn't it better to be consistent across them. I think that the `name` fie

[2022-01-29 16:51] wtrocki commented on #1402
This is well known problem. Red hat sso is working on adding this feature to the api. we should have it in about month from now

[2022-01-29 16:52] wtrocki commented on #1403
Reported that to backend team.
We will still return name for backwards compatibility

[2022-01-29 17:53] ppatierno commented on #1403
Sorry to be precise, I think that `name' in the json is totally right. I think that `--short-description` is bad and should be `--name` on creation to be consistent.

[2022-02-01 13:40] wtrocki commented on #1403
After discussion with team we have two options:

1) reintroduce name, but keep --short-description as alias
2) add description to short description (flagging that api field will be present as name

So while we not going to fix the core issue I think we can do nr2 easily (it is only content change)
Benefit of that will be that we going to have this in the CLI and documentation resolving confusion a

[2022-02-03 06:13] rkpattnaik780 opened #1415 "[Tech debt] Refactoring of `pkg`"
## Description

Refactor of `pkg` can be extended further:
* `core/auth` depends on `shared/connection`
* `shared/factory` should be moved to core.

[2022-02-03 12:05] wtrocki opened #1416 "Service account creation code is not checked in the CLI"
## Description

Error code returned by api is not checked and prints generic message:

 {"id":"4","kind":"Error","href":"/api/kafkas_mgmt/v1/errors/4","code":"KAFKAS-MGMT-4","reason":"Max allowed number:5 of service accounts for user:wtrocki_kafka_devexp has reached","operation_id":"c7ts9o095pitnc7pguk0"}

❌ 403 Forbidden. Run the command in verbose mode using the -v flag to see more information

[2022-02-03 12:06] wtrocki commented on #1416
We getting 403 forbidden message

[2022-02-09 07:12] fbm3307 opened #1422 ""$ rhoas cluster connect" command gives wrong output"
When we try to connect to the Kafka Cluster using the RHOAS CLI with command "$ rhoas cluster connect" , it doesn't give the available options to connect to the available instances, instead shows the details of the previous connection giving a result as the kafka with <previous instance id> instance id not present .

fmehta@fmehta-mac ~ % rhoas cluster connect
? Select type of service kafka
❌ Kafk

[2022-02-10 12:44] sutaakar opened #1425 ""rhoas status kafka" doesn't return Kafka cluster status"
## Description

**Version**: 0.38.2

Command `rhoas status kafka` doesn't find any Kafka instance even though I have configured the existing Kafka cluster using `rhoas kafka use --name <kafka name>`.

### Steps to reproduce

Create new Kafka cluster, wait until it is in ready status.
Login using `rhoas login`
Set created Kafka cluster as current context using `rhoas kafka use --name <created Kafka

[2022-02-10 12:46] wtrocki commented on #1425
@sutaakar Thank you for logging. We will investigate and resolve this issue as soon as possible.

[2022-02-10 15:32] rkpattnaik780 commented on #1425
Thanks a lot for reporting the issue @sutaakar .
A fix has been raised and a patch release will be made soon.

[2022-02-10 15:34] #1425 closed

[2022-02-10 15:45] rkpattnaik780 commented on #1425
Fixed in [0.38.3](https://github.com/redhat-developer/app-services-cli/releases/tag/v0.38.3).

[2022-02-12 14:02] ppatierno opened #1429 "Allow to "mute" the output of the Kafka topic creation command"
The `rhoas kafka topic create` allows to specify the output of the command as YAML and JSON.
I was thinking that sometimes for automated tasks and avoid to pollute the console could be useful to "mute" the output, exiting ok if the topic was creating but without printing any representation of the topic info. Maybe an `--output none` could be enough.

[2022-02-12 18:18] wtrocki commented on #1429
I think we might only print one sentence for topic by default. Or use some output as suggested

As workarounds for now we offer users to use std and error stream pipes.
[code]

I think we should also document this as it is not obvious pattern we use

[2022-02-13 10:47] wtrocki commented on #1402
@ziccardi is currently working on enabling API for it
We can probably do some early integration and testing

[2022-02-13 10:51] #1357 closed

[2022-02-13 10:55] #1186 closed, assigned to wtrocki

[2022-02-13 10:57] #1277 closed

[2022-02-13 11:02] wtrocki commented on #1387
Update. I have discussed some options on backend and sdks.
The way we could do it is to have clone of sdk structures in cli that would mean significant work and problems with discovering new fields.

Href cannot be removed from api and for cli easiest way is to show what api shows

[2022-02-13 11:02] #1387 closed

[2022-02-13 14:02] ppatierno opened #1430 "Unable to delete ACLs for existing service account"
I have a service account together with some ACLs related to it.

[code]

I would like to delete all the ACLs related to that specific service account, so I tried the following:

[code]

But the result is the following:

[code]

[2022-02-13 14:31] ppatierno commented on #1430
So it seems that the problem is with `--operation all` because if I run the same command by specifying the specific operation (i.e. `create`), the corresponding ACL is deleted.
I can understand that the command is trying to match exactly the ACL so it should have `all` as operation and in this case there is no match. I was just wondering if it could be understandable by the user.

[2022-02-14 07:16] wtrocki commented on #1430
Will discuss that with @mikeedgar

[2022-02-14 09:13] craicoverflow commented on #1430
`--operation all` does not mean _all_ operations - "all" is a specific operation type. You cannot currently delete all ACLs tied to an account.

[2022-02-14 09:26] wtrocki commented on #1430
Thank you @craicoverflow. I did talked with @ppatierno and we have 2 cases to cover here:

- Confusion what `all` means - We need to document that better.
- As user you would more likely want to delete all ACLS for service account/user but that is requiring users to list multiple ACLS etc. - I will see if we can build dedicated API for this.

[2022-02-14 10:52] craicoverflow opened #1433 "Unable to use `rhoas service-registry enable` rule"
## Description

When I run this command it is using the address of the config instead of the actual value.

[code]

[2022-02-14 10:54] craicoverflow commented on #1433
I also notice that the error message is inaccurate - "for --rule-type" is mentioned whereas the flag is "config".

[2022-02-14 10:55] craicoverflow commented on #1433
I also noticed that "full-trannsitive" is a typo - it should say "full-transitive".

[2022-02-14 11:41] MikeEdgar commented on #1430
Does the CLI support omitting the `operation` and `permission` from the command? I would expect the following command to delete any ACL matching the principal and topic filters given. The back-end defaults the other filters to "ANY".
[code]
If you wanted to delete everything for the service account, omit the `topic`/`prefix` filters.

[2022-02-14 11:43] wtrocki commented on #1430
Does backend support that right now?

[2022-02-14 11:48] MikeEdgar commented on #1430
Yes, that will currently work. In fact, none of them are required so it's possible (but a bad idea) to delete them all with one request and no filters.

[2022-02-14 14:55] #1226 closed

[2022-02-14 15:00] wtrocki commented on #1422
@fbm3307 did that kafka was created in UI or CLI. Creating kafka in the UI requires user to manually run

`rhoas kafka use` command.

Yes! We are fixing that right now

[2022-02-14 16:05] wtrocki opened #1437 "CLI fails to select proper boostrap url on Kafka ACL"
## Description

When running acl delete command I'm getting strange issue around kafka instance.
Context is set properly:

[code]

[code]

[2022-02-14 16:13] wtrocki commented on #1437
Ok. I see it now. Validation does setup kafka id as well :)
Invalid issue then :D

[2022-02-14 16:13] #1437 closed

[2022-02-15 08:16] fbm3307 commented on #1422
@wtrocki Kafka was created using ui/console. But i always created the kafka using UI. The first time i created i wasn't required to use the **_"rhoas kafka use"_** command. Any reason why i wasn't required to do so.?

[2022-02-15 09:29] wtrocki commented on #1422
Oh. Now I know the whole story.
Amazing feedback! Thank you so much.

First time cluster connect ask to select kafka.
Second time assumed first kafka was used and printed error.

[2022-02-15 11:29] wtrocki opened #1440 "Artifact rules enable --config should only propose values for specific rule"
### Feature or problem description

[2022-02-15 14:46] ziccardi commented on #1402
Change has been implemented and merged today

[2022-02-16 10:32] kdubois opened #1442 "tar: rhoas_0.38.5_linux_amd64.tar.gz: Cannot open: No such file or directory"
## Description

**Version**: 0.38.5

I tried to run the following command (per the instructions this is how I should download the binary):
"curl -o- https://raw.githubusercontent.com/redhat-developer/app-services-cli/main/scripts/install.sh | bash "
but it looks like the install script is pointing to a url that does not exist.

Further examining the issue, it seems like the script is looking for a

[2022-02-16 10:59] rkpattnaik780 commented on #1442
Thank you for reporting this @kdubois . This will be fixed asap in the next release.

[2022-02-16 11:22] rkpattnaik780 commented on #1442
`rhoas v0.38.5` has been re-released. Can you try re-installing it with the following command:
[code]

[2022-02-16 11:43] wtrocki opened #1443 "Update and remove prerequisites"
## Description

Please review prerequisites:

https://github.com/redhat-developer/app-services-cli/blob/delete-acl/CONTRIBUTING.md#prerequisites

[2022-02-16 11:43] wtrocki commented on #1443
@awakenedspyder

[2022-02-16 11:53] kdubois commented on #1442
perfect, now it works!

[2022-02-16 12:07] #1442 closed

[2022-02-17 09:55] craicoverflow opened #1445 "Misleading error message when there is no capacity available when creating a Kafka instance"
## Description

**Version**: 0.38.x

When I try to create a Kafka instance but there is no capacity available for the region, I get a misleading error mesage:

[code]

But in verbose mode you can see the backend error telling us what has really happened:

[code]

We should be checking and handling the `KAFKAS-MGMT-24` error code to show a more accurate error message to the user.

[2022-02-17 10:18] #1433 closed

[2022-02-17 12:27] wtrocki commented on #1422
we know what caused the issue, and going to fix it but I have unassigned myself as fix will come with the feature branch and it might take a while to get that into released version of the CLI.

[2022-02-17 12:58] wtrocki commented on #1430
@ppatierno Fix have been published. Will be released soon. Thank you for feedback

[2022-02-17 12:58] #1430 closed

[2022-02-17 15:17] rkpattnaik780 opened #1450 "Outdated instructions for generating CHANGELOG"
The CONTRIBUTING.md has outdated instructions for [generating changelog](https://github.com/redhat-developer/app-services-cli/blob/main/CONTRIBUTING.md#generate-a-changelog).  The section should be modified as the GitHub actions handle it now.

[2022-02-17 15:20] #1445 closed

[2022-02-17 16:06] #1443 closed

[2022-02-17 16:07] wtrocki commented on #1450
CC @gowriswarupk

[2022-02-21 11:14] #1450 closed, assigned to gowriswarupk

[2022-02-21 11:20] wtrocki commented on #1416
@akoserwal I think we would need to get different error code for max-allowed services accounts.

`KAFKAS-MGMT-4` is generic error that doesn't allow us to check this type of error on client and handle it properly.

[2022-02-21 11:23] wtrocki commented on #1395
[code]

command needs better description for -1 flag as suggested by @rkpattnaik780

[2022-02-21 14:03] wtrocki opened #1457 "Review and update contributing guide"
## Description

Review and update contributing guide for rhoas cli.

See: #1456

[2022-02-23 15:39] craicoverflow opened #1460 "Unavailable regions should not show in `--region` completion values in `kafka create`"
## Description

**Version**: 0.39.0

The user that I am logged in as can either create eval Kafka instances or standard ones. Not all regions are available for all instance types. In interactive mode unavailable regions are filtered out, but these still show up for completions.

## Steps to reproduce

Run `rhoas kafka create` and select `eu-west` as your region, which is invalid. We should not sho

[2022-03-07 16:11] #1395 closed

[2022-03-07 16:18] wtrocki commented on #685
We need to add support for instance-id to:

[code]

Example how the flag can be added is here:
https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/kafka/acl/flagutil/flagset.go#L206-L215

Example how instance-ids are handled in existing commands

https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/registry/artifact/crud/get/get.go#L80:L80

[2022-03-08 07:50] #1457 closed

[2022-03-08 07:52] rkpattnaik780 commented on #1457
Closed via #1458

[2022-03-08 10:48] wtrocki commented on #1416
We do not have that code and moving to new SDK.
Closing as work will be covered in jira

[2022-03-08 10:48] #1416 closed

[2022-03-17 04:35] fbm3307 opened #1473 "Not able to create new service account for kafka, even though there are no service accounts on my name."
When trying to run the command **_"$ rhoas cluster connect --namespace $PROJECT -v "_** it gives an error of " **_Max allowed number:5 of service accounts for user:fmehta@redhat.com has reached"_** **_"Could not create service account: 403 Forbidden"_**

I Have checked the list of service accounts using "_**$ rhoas service-account list
"**_, there are currently NO service accounts on my userid, st

[2022-03-17 07:49] wtrocki commented on #1473
@fbm3307 Thank you for logging issue. Do you mind sending the same content to mk-support@redhat.com

This is problem with your organization that I cannot comment on public repository.

[2022-03-20 18:21] rkpattnaik780 opened #1475 "Modify the checklist in PR template"
Since the `checklist` of [PR template](https://github.com/redhat-developer/app-services-cli/blob/main/.github/pull_request_template.md) mostly goes unchecked, some fields can be removed/changed.

Originally raised by @craicoverflow

[2022-03-20 18:40] rkpattnaik780 opened #1476 "Run tests for documentation changes"
Currently tests and the entire [Go build](https://github.com/redhat-developer/app-services-cli/blob/dab10262ddfd7990b2ea0aecafcaae7cd0d567da/.github/workflows/gobuild.yml#L11) workflow are skipped when changes are made in `.toml` and `.md` files.

There have been cases when documentation changes were passing checks in pull request but would fail charmil validations later.

Examples:
[#1466](https:

[2022-03-20 18:55] #1476 closed

[2022-03-20 18:58] wtrocki commented on #1475
This checklist makes no sense as all of that is automated or enforced by github main branch protection

[2022-03-21 04:15] #1475 closed

[2022-03-22 11:56] craicoverflow opened #1481 "Interactice rule command should validate artifact ID before moving to next question"
[code]

This validation should happen inline. Now the user must go through every question again.

Also, would it be possible for this to be a list of artifacts instead of free text?

[2022-03-24 13:19] wtrocki commented on #1440
Issue is that `rhoas servivce-registry artifact rules enable --config=` suggestions show more values than they should.
We have method that calculates those values:
https://github.com/redhat-developer/app-services-cli/blob/623d7591defbf59326adf8045d139c8dab22109a/pkg/cmd/registry/rule/rulecmdutil/flagset.go#L70

[2022-03-25 12:56] rkpattnaik780 opened #1488 "Non admin users should be able to update `reauthentication_enabled` field for Kafka instance"
## Description

Non-admin user should be able to update the value of `reauthentication_enabled` for the Kafka instance.
Current implementation allows only org admins to perform any kind of update operation for Kafka instances.

**Version**: 0.39.0

### Steps to reproduce

1. Try to update your Kafka instance using a non-admin account.
[code]

[2022-03-28 09:29] wtrocki opened #1491 "Support new Error Type returned for service account APIs"
### Feature or problem description

More information: https://github.com/redhat-developer/app-services-sdk-js/pull/327/files

[2022-03-29 13:27] lburgazzoli opened #1494 "Option to invoke an endpoint by url"
### Feature or problem description

Option to invoke an endpoint by url

### Proposed solution

[code]

[code]

### Additional context

Add any other context like screenshots or mockups, if applicable.

[2022-03-29 13:38] lburgazzoli opened #1495 "Support for plugins"
### Feature or problem description

- As a service owner I would like to provide a sub command for a service I'm contributing without having to bake my code in the rhoas cli but at the same time, leveraging all the authentication and common feature provided by rhoas
- As a service consumer I would like to enhance the rhoas client UX by providing to tailor it to my needs or to provide enhanced capa

[2022-03-30 10:56] #1494 closed

[2022-03-31 09:51] wtrocki opened #1500 "Every yaml is ordered alphabetically"
Ordering of yaml by keys.
[code]

_Originally posted by @rkpattnaik780 in https://github.com/redhat-developer/app-services-cli/issues/1498#issuecomment-1084216875_

[2022-04-06 23:01] emanuelb opened #1510 "Fix Documentation about disable telemetry in USAGE_DATA.md"
## Description

in:
https://github.com/redhat-developer/app-services-cli/blob/c97509d53e76db1f4532ea4f25e7b8f9bd3bbcb3/USAGE_DATA.md#L12-L17
it show disable by `RHOAS_TELEMETRY=true` while in:

https://github.com/redhat-developer/app-services-cli/blob/16e2ed345ef5a8e0183f5e7a3bf15723d7ccf39d/pkg/core/localize/locales/en/common.en.toml#L19
it explain disable by `RHOAS_TELEMETRY=false`

from the cod

[2022-04-06 23:14] wtrocki commented on #1510
Amazing catch. Thank you for reporting. Fixing it

[2022-04-07 08:16] #1510 closed

[2022-04-07 08:18] wtrocki commented on #1500
See https://pkg.go.dev/gopkg.in/yaml.v2?utm_source=godoc#MapSlice

[2022-04-07 08:18] wtrocki commented on #1500
@gowriswarupk I have assigned that to you as you have been playing with output formats recently.

[2022-04-07 08:22] wtrocki commented on #685
Seems to be done.

[2022-04-07 08:22] #685 closed

[2022-04-07 08:33] rkpattnaik780 commented on #685
Fixed by #1483

[2022-04-08 10:10] wtrocki opened #1513 "Update CI/CD to use Golang 1.18"
## Description

Update CI/CD to use Golang 1.18

[2022-04-08 13:46] rkpattnaik780 opened #1516 "Wrong error message displayed if kafka limit is exceeded"
## Description

Attempting to create Kafka instance after reaching limit throws the following error:

[code]

The reason checked from verbose mode is found to be:

[code]

**Version**: 0.39.1

### Steps to reproduce

1. Create a kafka instance using `rhoas kafka create`.
2. Try to create another Kafka instance using `rhoas kafka create`.

### Expected behaviour

CLI should return a friendlier mess

[2022-04-13 07:32] rkpattnaik780 opened #1522 "Optimize service commands to fetch deatils of service instance once"
## Description

WIth the introduction of contexts, the instance id is first validated by fetching details of the service instance.
There are certain commands that end up making the same request twice.

CLI should checki if the instance details are already available before making another request.

[2022-04-14 12:08] wtrocki opened #1524 "RHAOS CLI should enable users to define custom clients with the same auth reqiurements"
### Feature or problem description

With the new API we added to the connectors support is very easy to create a custom client

Example: https://github.com/lburgazzoli/bf2-cos-tools/blob/rhoc-cli/rhoc/pkg/service/service.go
and to use it https://github.com/lburgazzoli/bf2-cos-tools/blob/rhoc-cli/rhoc/pkg/cmd/namespaces/list/list.go#L77-L79

We should refactor entire implementation to use the same

[2022-04-20 12:24] rkpattnaik780 opened #1529 "Fix lint issues with go v1.18"
### Feature or problem description

Upgrading go version to 1.18 in local throws multiple lint errors that didn't exist before.

The errors should be addressed before migrating to 1.18 in upstream.

[2022-04-20 13:12] rkpattnaik780 opened #1530 "Remove http response bodies where not required"
## Description

Some commands while making api request use the `http.Response` object even if it is not required. This increases the lines of code and might result in unseen lint errors.

[2022-04-20 13:46] wtrocki commented on #1530
After quick research it looks like from 1.18.0 linting capabilities are much better - they can detect return types from underlying classes. This means that to enable 1.18.0 we can:

1. Disable that specific rule across CLI and remove any defer statements
2. Add defer body.close everywhere even if it is pointless

Option 1 seems much desired.

[2022-04-20 13:56] wtrocki commented on #1529
See reply in https://github.com/redhat-developer/app-services-cli/issues/1530

I think both issues might be strongly correlated and should be done together

[2022-04-20 14:16] rkpattnaik780 commented on #1530
Will vote for 1 too.

[2022-04-21 10:58] wtrocki commented on #1460
I have implemented that but needed to temporary disable this

[2022-04-22 10:30] wtrocki opened #1535 "Enable secret output for rhoas generate-config"
## Description

Config generation should produce kuberentes secret. Secret should use env var type keys that will allow developers to mount secret as environment variables.

[2022-04-22 10:32] wtrocki commented on #1535
Open Question - Should we add the same for service account create command as well?

[2022-04-22 10:54] wtrocki commented on #1535
[code]

[2022-04-22 15:02] wtrocki opened #1537 "YAML format printing empty fields where json keeps them removed"
## Description

YAML format printing empty fields where json keeps them removed. We need to be consistent

[code]
but in yaml
id: c95uk5s6eg3sq0ib86u0
kind: ""
href: ""
owner: lburgazz_kafka_supporting
createdat: 2022-04-05T07:04:55.100582Z
modifiedat: 2022-04-05T14:47:59.850304Z
name: lb-dbz
connectortypeid: debezium-mongodb-1.9.0.Alpha2
namespaceid: c95j6h66ar2c9mtr5vjg
channel: stable
desiredst

[2022-04-28 09:42] machi1990 opened #1546 "mention the rhoas cli docker/container image in the README"
### Feature or problem description

Requesting an image release of the rhoas cli

### Proposed solution

Users who want to quickly try things will just run the CLI via container

### Additional context

Not sure how this will work with the login command etc

[2022-04-28 09:44] wtrocki commented on #1546
That is there since beginning and our guides use that image:
https://github.com/redhat-developer/app-services-tools

[2022-04-28 10:00] machi1990 commented on #1546
Ah thanks. I was looking for this and I couldn't find. I'll close the issue then.

[2022-04-28 10:02] wtrocki commented on #1546
That is actually an issue. We need to document it in the readme

[2022-05-04 07:50] wtrocki opened #1551 "Cannot create Kafka with kas-installer"
## Description

/rhoas -v kafka create --bypass-tems-check --name cli-e2e-suffix

Plan is not supported.

[2022-05-04 11:52] #1551 closed

[2022-05-10 06:28] rkpattnaik780 opened #1560 "Outdated error message when user is not logged into MAS"
## Description

**Version**: 0.42.2

Error message indicates only "topic" and "consumer-group" commands, whereas it should mention all data plane commands.

### Steps to reproduce

1. Login using token
[code]
2. Run command to list artifacts in the service-registry
[code]

### Logs

[code]

[2022-05-10 06:32] rkpattnaik780 opened #1561 "An update while running rhoas version command prints older version"
If the CLI gets updated while `rhoas version` command is being run, the older version gets printed.

### Log

[code]

[2022-05-11 19:30] wtrocki commented on #1560
To be done this sprint. We removing mas-sso

[2022-05-12 06:37] #1546 closed

[2022-05-13 11:10] rkpattnaik780 commented on #1535
Closed by #1539

[2022-05-13 11:10] #1535 closed

[2022-05-13 11:30] rkpattnaik780 opened #1566 "Success message of generate-config cmd should display next steps"
### Description

`rhoas generate-config` command currently prints success message along with the ID of the service account created. It should give subsequent instructions like the ones given by service-account commands (i.e to grant permisssions).

Current output:

[code]

Proposed output:

[code]

[2022-05-16 15:54] rkpattnaik780 opened #1567 "Deprecate services field from config file"
## Description

**Version**: 0.42.2

After context commands, the contexts are stored in `contexts.json`. The `services` field in config file can be deprecated.

[2022-05-17 11:41] wtrocki opened #1571 "Generic generate table support with colours"
Additional helpers introduced by RHOC team that could be part of the RHOAS:

- custom dumper with colors https://github.com/bf2fc6cc711aee1a0c2a/cos-tools/blob/main/rhoc/pkg/util/dumper/dumper_table.go
- use generic to generate the table data with colors https://github.com/bf2fc6cc711aee1a0c2a/cos-tools/blob/main/rhoc/pkg/cmd/namespaces/list/list_dumper.go

[2022-05-17 11:42] wtrocki opened #1572 "Community idea: Streampipe support steampipe.io"
Add rhoas support for streampipe

[2022-05-17 15:07] wtrocki opened #1573 "Wrong message displayed when no service registries are available"
[code]

expected message would be that there is no any service registry to set.

[2022-05-17 15:09] wtrocki opened #1574 "Service registry create missing details for connection urls"
## Description

Execute:
 rhoas service-registry create --name=test

## Output

[code]

Output seems strange. Urls missing the service url when creating registry

[2022-05-18 12:22] rkpattnaik780 commented on #1574
Looks like something has changed from server side.

[2022-05-23 15:02] apodhrad opened #1579 "Extend rhoas login by supporting SSO client id an secret"
### Feature or problem description

Some teams use SSO service accounts which can be authenticated against sso.redhat.com but cannot be used for any "web page" loging and cannot obtain a token (pls correct me if I'm wrong).
Such service accounts are used for logging to OCM as follows
[code]
Could we have something similar for `rhoas`, please?

[2022-05-23 15:09] wtrocki commented on #1579
While request can be done on the RHOAS CLI side. I'm not sure if we will support two types of login:

--token (offline token)
--client-id=... (service accounts)

@akoserwal Do you think we can we use service accounts to obtain AccessToken that will work with all fleet managers we have?

[2022-05-23 15:10] wtrocki commented on #1579
FYI @gowriswarupk

[2022-05-24 10:11] akoserwal commented on #1579
@apodhrad You can use the sso service account with ocm client for the requests to the control plane api. But it requires some claim configuration for your service account (sso mapper). I can help with getting it configured.

In the near future, rhosak will support the new sso service account api (self service)

[2022-05-24 10:16] wtrocki commented on #1579
Worth to mention that current solution is to use offline refresh token (and CLI supports it already by `rhoas login --token` option`

[2022-05-24 11:41] #1573 closed

[2022-05-25 09:12] apodhrad commented on #1579
After discussion with @akoserwal we agreed that this request makes sense once we deal with the mas-sso.

I'm ok with that as we can use the token approach.

Please add proper labels according to your workflow.

[2022-05-25 09:15] wtrocki commented on #1579
Yes. All you need is https://cloud.redhat.com/openshift/token

[2022-05-25 10:35] #1516 closed

[2022-05-25 22:04] #1574 closed

[2022-05-27 06:25] rkpattnaik780 opened #1583 "Display release notes in CLI"
Should the CLI have a way of displaying the release notes?

* There are certain CLIs that have additional command to print the release notes.
* Else we can log the release notes to terminal during an auto-updation. (like `omz`)

[2022-05-27 09:49] wtrocki commented on #1583
We had that enabled for autoupdates before but I have removed it as our release notes are very brief and in UI/Console form they are even less useful.

My take is that we need "WhatIsNew.md" file in repo that can be seeded into Website and automated into each release. Release will carry this information + users can look into repo and website + we can include that into our reference guide.

We coul

[2022-05-30 05:08] rkpattnaik780 commented on #1583
`WhatsNew.md` sounds good. We can get started on this.

[2022-05-30 08:25] wtrocki commented on #1583
@rkpattnaik780 Let's propose some format for what's new. The faster we get document the more content we will get there.

I think we need:

- WhatsNew.md
- New chapter to contributing.md file

[2022-05-30 11:01] rkpattnaik780 commented on #1583
How would this format look?

## 0.43.0

25 May 2022

Add optional text/description.

## What's new?

* feat(consumer-group): display state of consumer groups

## Fixed issues?

* fix: update kafka mgmt sdk for the latest version
* fix: add support for dynamic config url

[2022-05-30 11:12] wtrocki commented on #1583
This is changelog. What is new is typically more readable :)
Example
https://blog.ninja-squad.com/2021/12/10/angular-cli-13.1/

[2022-06-10 13:07] k-wall opened #1594 "Kas-installer: size parameter seemingly ignored"
Testing the 0.44 alpha, using kas-installler (fleet-manager `registered_users_per_organisation config` configured with `max_allowed_instances` 2).

[code]

is accepted, but an x1 results.

[code]

_Originally posted by @k-wall in https://github.com/redhat-developer/app-services-cli/issues/1592#issuecomment-1152342236_

[2022-06-10 13:22] wtrocki commented on #1594
@k-wall - I'm really sorry for issues that you have been experiencing. I think generally we need to introduce kas-installer as valid target for the CLI and UI and pick right architecture to avoid billing. Initially that wasn't a bit problem in CLI as it was only about terms and conditions. Now we would have dozens of flags for billing, sizes that strongly depend on AMS.

I will investigate why thi

[2022-06-10 14:12] wtrocki commented on #1594
Done quick check and I think this is quite tricky to do as in backend we mix both billing and size value.

plan `developer.x1` or `standard.x2`  is being sent to backend. So if we do not have AMS information about what type of instance we want:

- developer
- standard
- standard marketplace

We cannot really effectively send plan value to backend.

CC @pb82 - maybe we could chat about this next we

[2022-06-13 06:25] rkpattnaik780 opened #1595 "Add instructions for command completions for powershell"
### Feature or problem description

The `rhoas completion` command has instructions to enable command completions for zsh, bash and fish. We should allow users to have completions for powershell as well.

[2022-06-14 07:44] wtrocki commented on #1595
We need to update cobra. Powershell extensions are there to be copied:

https://github.com/spf13/cobra/blob/87ea1807f71dfa4d0bd7058c099b3978b128aea6/shell_completions.md

[2022-06-29 16:48] #1595 closed

[2022-07-01 14:02] wtrocki opened #1623 "Context feature does many requests to the kafka that aren't needed"
## Description

Example like here. We are fetching entire kafka object only to get id that we have in context anyway:

[code]

[2022-07-07 11:21] wtrocki opened #1630 "rhoas login should ask user if they want to remove context"
## Description

Login as different user/org will cause context to be invalid.

[2022-07-14 00:26] wtrocki opened #1642 "rhoas authtoken is missing token refresh"
Command `rhoas autoken` fails to deliver functional token if rhoas cli haven't been used in the last 5 min.

We should create connection as part of that command

[2022-07-14 06:45] wtrocki opened #1644 "multiple connections per request"
We should cache connections

[2022-07-14 15:38] jackdelahunt opened #1647 "Consume and wait breaks when multiple partitions are produced to while waiting"
## Description
1. Run this script https://gist.github.com/jackdelahunt/d742b328c71b0c80327c4cf945a7da73
2. `rhoas kafka topic consume --wait --name=topic --format=json` and run this
3. Once you switch to a second partition the output starts to print incorrect messages over and over
4. This stops once you stop producing

[2022-07-15 10:43] EricWittmann opened #1649 "Add new "--all-groups" flag to "service-registry artifact list""
### Feature or problem description
Currently there is no way to list artifacts across all groups in a RHOSR instance.  The RHOSR UI does this by default (searches/lists artifacts across all groups).  So it's strange for users that the CLI doesn't have this capability.

### Proposed solution
Let's add a `--all-groups` flag to the `service-registry artifact list` operation that will enable listing a

[2022-07-15 11:00] EricWittmann commented on #1649
Ping @SafarMirek

[2022-07-15 12:12] EricWittmann opened #1650 "Add commands for managing RHOSR instance settings"
### Feature or problem description
Service Registry supports some instance-level configuration options that Admin users of the instance can view and modify.  Here is the current Settings page in the UI that supports this functionality:

![image](https://user-images.githubusercontent.com/1890703/179219688-62d787d6-66c8-47ce-a94b-bee112bf6757.png)

It would be useful to allow these settings to be ma

[2022-07-15 12:13] EricWittmann commented on #1650
Ping @SafarMirek

[2022-07-15 12:13] EricWittmann commented on #1649
We were hoping to have @SafarMirek work on the implementation of this change.  Mirek is a member of the Apicurio team but will likely need some guidance/support to be able to effectively contribute.

[2022-07-18 10:21] wtrocki commented on #1650
@dimakis to post update when new SDK is ready.

[2022-07-19 15:07] wtrocki opened #1658 "Autoupdate requires authentication fails"
[gryan@localhost main]$ rhoas status
Error when updating cli: "GET https://api.github.com/repos/redhat-developer/app-services-cli/releases: 401 Bad credentials []"

[2022-07-19 15:18] dimakis commented on #1650
the updated SDKs have now been released.

[2022-07-21 08:12] btison opened #1665 ""$rhoas cluster bind": --bind-env flag not taken into account"
## Description

**Version**:
0.46.1

When binding a kafka  or service registry instance to an application, the `bind-env` parameter has no effect.

### Steps to reproduce

* Deploy an application on OpenShift
* Provision a trial RHOSAK Kafka instance
* Connect the Kafka instance to the namespace
* Bind the application to the Kafka instance. Set the `bind-env` flag.
[code]

### Expected vs actual b

[2022-07-21 10:40] #1665 closed, assigned to wtrocki

[2022-07-21 11:55] #1649 closed

[2022-07-21 12:50] btison opened #1669 ""$ rhoas cluster connect --service-type service-registry": oauthTokenUrl is not correct"
## Description

**Version**:
0.46.1

When connecting a service registry instance to an OpenShift namespace using `rhoas cluster connect`, the resulting ServiceRegistryConnection CR uses an incorrect URL for the oauthTokenUrl

### Steps to reproduce

* connect a service registry instance to an OpenShift namespace
[code]
* inspect the generated `ServiceRegistryConnection` CR

### Expected vs actual

[2022-07-21 13:49] wtrocki commented on #1669
What is the rhoas status

We require "latest" version of the operator to get mas-sso update.

Release https://github.com/redhat-developer/app-services-operator/releases/tag/0.9.7

[2022-07-21 14:34] btison commented on #1669
Ok, that's probably the problem. My RHOAS operator is on version 0.9.6, but that seems to be the most recent version available on OpenShift at the moment it seems.

[2022-07-21 14:38] wtrocki commented on #1669
Ok. I will need to verify and release it.

[2022-07-25 11:40] jackdelahunt opened #1678 "Whoami doesn't return email after login"
## Description

- Run `rhoas login`
- Run `rhoas whoami`
   - I get the output "Token has no username"
   - Cli stil works as normal however
- Run `rhoas whoami` again and I get the correct output
- Logging in and out through cli does not change issue

[2022-07-25 12:17] #1678 closed

[2022-07-26 14:46] wtrocki opened #1682 "Command suggestions not working when Access Token gets oudated."
## Description

Command suggestions not working when Access Token gets outdated.

[2022-07-27 14:01] rkpattnaik780 opened #1685 "Unable to create service registry artifact"
## Description

**Version**: 0.46.2

### Steps to reproduce

Run the following command to create an artifact in your registry:

[code]

This fails with error message:
[code]

The command works fine for version `0.46.1`.

[2022-07-28 08:34] wtrocki commented on #1685
FYI @SafarMirek

[2022-07-28 08:58] wtrocki commented on #1685
Problem: https://github.com/redhat-developer/app-services-sdk-go/pull/544

[2022-08-08 10:44] joselsegura opened #1707 "Offline token login doesn't work for kafka subcommands"
## Description

**Version**: 0.48.0

When logged in console.redhat.com using `rhoas login --token $OFFLINE_TOKEN`, I'm unable to run most/all of the "kafka" subcommands available. I always get:

[code]

### Steps to reproduce

1. Login into `rhoas` using an offline token with `rhoas login $OFFLINE_TOKEN`
2. Run `rhoas kafka list` or any other `rhoas kafka` subcommand
3. See the error above.

### E

[2022-08-08 11:06] wtrocki commented on #1707
Thank you for logging issue. We going to look into this

[2022-08-08 11:59] wtrocki commented on #1707
I cannot effectively replicate this issue. It might be outdated version of the CLI?

[2022-08-08 12:01] wtrocki commented on #1707
I can replicate the same message when I do:

1. Create new token
2. Login using that token
3. Remove that token (invalidate it)
4. Execute dataplane command (or any command)

That would imply that used token haven't been used for 30 days or have been manually invalidated

[2022-08-08 13:29] joselsegura commented on #1707
Interesting! I was using the token for handling `service-accounts` last week without any problem, but Kafka part give me problems. Now, I generated a new token and it works fine, so I guess this issue can be closed.

Thank you for pointing out my problem!

[2022-08-08 13:29] #1707 closed

[2022-08-09 13:23] andreaTP opened #1709 "Support Keycloak Quarkus distribution"
## Description

**Version**: `0.48.0`

`rohas login` command already works against new versions of Keycloak, but the token refresh fails because it injects `/auth` into the URL path (which is no anymore mandatory since Quarkus distribution).

For example, after running a login like:

[code]

We receive the error:

[code]

### Steps to reproduce

1. Install this apicurio infrastructure on local Kub

[2022-08-09 13:29] andreaTP opened #1710 "Support `service-registry` operations without AMS"
### Feature or problem description

It should be possible to run the CLI service-registry operations against an Apicurio installation that doesn't use AMS.
Currently, the CLI fails with a `404 Not Found.` error.

### Proposed solution

Make it possible to disable AMS checks in certain cases.

### Additional context

This feature can be tested against this local environment:
https://github.com/andr

[2022-08-09 20:11] wtrocki commented on #1710
Been on PTO. Fixing now.

[2022-08-09 20:14] wtrocki commented on #1710
This command would make registry create work without AMS
`rhoas service-registry create --bypass-checks`

[2022-08-09 20:14] #1710 closed

[2022-08-09 20:18] wtrocki opened #1714 "Registry create doesnt handle evaluation error properly"
## Description

❌ 409 Conflict. Run the command in verbose mode using the -v flag to see more information

Actual error:
[code]

[2022-08-09 20:35] wtrocki commented on #1709
I think we can remove auth. Problem is that we break others like kas installer. Adding additional flag to skip it sounds like hack. @rkpattnaik780 do you have some ideas

[2022-08-10 06:20] rkpattnaik780 commented on #1709
I think we should go with additional flag to skip it as removing it can break stuffs.

[2022-08-10 06:24] #1685 closed

[2022-08-10 06:34] rkpattnaik780 commented on #1709
Hi @andreaTP
I am getting a client not found while trying to login with the CLI.

[2022-08-10 07:39] andreaTP commented on #1709
@rkpattnaik780 sorry for the confusion, please use the version from the branch `enable-cli-on-k8s`, https://github.com/andreaTP/srs-fleet-manager/tree/enable-cli-on-k8s/dist/k8s-dev

[2022-08-10 07:56] andreaTP commented on #1710
Thanks @wtrocki , tested and working as expected 👍

[2022-08-10 15:30] #1658 closed

[2022-08-10 15:30] wtrocki commented on #1658
Cannot replicate that

[2022-08-10 15:30] wtrocki commented on #1121
Outdated.

[2022-08-10 15:30] #1121 closed

[2022-08-10 15:30] #1316 closed

[2022-08-10 15:31] wtrocki commented on #1398
Closing as outdated

[2022-08-10 15:31] #1398 closed

[2022-08-10 15:32] wtrocki commented on #1402
Assigned to @rkpattnaik780 - I think new SDK/API no longer uses different ID for both so we could close that once confirmed

[2022-08-10 15:32] #1415 closed

[2022-08-10 15:33] wtrocki commented on #1422
We have fixed that problem with new version of the context

[2022-08-10 15:33] #1422 closed

[2022-08-16 06:11] rkpattnaik780 commented on #1402
I confirm that's the case.
Will be fixed by #1716

[2022-08-22 17:18] wtrocki opened #1727 "Service account describe returns array and breaks clients."
## Description

When running `rhoas service-account describe` result returns `[]` despite SDK containing single object. That broke number of clients we have (including customer custom integration)

[2022-08-22 17:21] wtrocki commented on #1727
CC @rkpattnaik780 @jackdelahunt this is currently blocking us from doing actual release.

[2022-08-22 17:25] #1727 closed

[2022-08-22 17:55] henryZrncik opened #1728 "Service Account list returns list instead of object"
## Description

**[0.50.0-beta1]**:

### Steps to reproduce

`rhoas service-account list -o json`
command will pass in cli but not in case we parse JSON as object in Java.

### Expected vs actual behaviour
#### Obtained
obtained output will be list of service accounts (i.e. list of JSON objects)
#### expected
one object with multiple items, expected from  Kafka Management SDK 0.24 in form of `Serv

[2022-08-22 18:48] wtrocki commented on #1728
@rkpattnaik780 I think we need to discuss moving service account migration to feature branch for now.

This is breaking change with huge impact to existing integrators

[2022-08-26 17:54] MelissaFlinn opened #1737 "minor updates to rhoas connector build user prompt labels"
Regarding the "UI" of the configuration parameter section when building a configuration file.
1) Change "Enter a value for format" to "Format"
2) Change "error_handler" to "Error handling method"

@wtrocki
@jackdelahunt

[2022-08-29 15:36] rkpattnaik780 opened #1738 "Improve error message when namespace set in context has been removed"
## Description

**Version**: 0.50.0

Show more descriptive message when namespace set in the context has been removed. CLI provides limited information at the moment.

The `if` statement [here](https://github.com/redhat-developer/app-services-cli/blob/e69eae60b7656e93fdd8394f980f83d59444996b/pkg/shared/contextutil/util.go#L189) needs to be modified to check if the error returned is a not found err

[2022-08-29 15:36] rkpattnaik780 commented on #1738
Cc @jackdelahunt

[2022-09-22 10:02] jsenko opened #1747 "Using rhoas CLI to create a Service Registry artifact results in an error. An equivalent curl request succeeds."
## Description

**Version**: 0.51.0

Using rhoas CLI to create a Service Registry artifact results in an error. An equivalent curl request succeeds.

### Steps to reproduce

Executing the following command (after logging in, selecting a Registry, etc.)

[code]

results in

[code]

The content of `2.0-petstore_v1.json` is https://gist.github.com/rkpattnaik780/a8797a2bfdf3550a76f1a04ee32e9986

### E

[2022-09-22 12:40] wtrocki commented on #1747
Workaround for this is to force artifact type flag. Then registry doesn't fail.

[2022-09-23 11:37] wtrocki commented on #1747
Fixed in https://github.com/redhat-developer/app-services-cli/releases/tag/v0.51.1-beta1

[2022-09-23 11:37] #1747 closed

[2022-09-27 12:20] grdryn opened #1752 "`rhoas kafka topic describe --help` has wrong description for name flag"
## Description

**Version**:
`rhoas version 0.51.1`

### Steps to reproduce

1. Run `rhoas kafka topic describe --help`
2. Look at description of `--name` flag
3. Realise that it's incorrect

### Expected vs actual behaviour

#### Actual output
[code]

#### Expected output

[code]

[2022-09-27 13:41] wtrocki commented on #1752
Fixed. Thank you for reporting this issue!

[2022-09-27 14:55] grdryn commented on #1752
Nice, thanks @wtrocki :100:

[2022-10-06 09:35] rkpattnaik780 commented on #1529
Fixed in #1706

[2022-10-06 09:35] #1529 closed

[2022-10-06 14:27] rkpattnaik780 opened #1758 "Created namespace is being set as connector in the context"
## Description

Currently, the command `rhoas connector namespace create` saves the created namespace as connector in the current context. It should be changed to save it as namespace.

Changes need to be done [here](https://github.com/redhat-developer/app-services-cli/blob/e69eae60b7656e93fdd8394f980f83d59444996b/pkg/shared/contextutil/util.go#L208).

**Version**: 0.51.2

### Steps to reproduce

[2022-10-06 15:00] wtrocki commented on #1758
Critical issue. Not for hacktoberfest.

[2022-10-07 14:24] #1758 closed

[2022-10-12 16:13] rkpattnaik780 opened #1761 "Add badges to README"
It will be great to have some badges in the README file like [Go version](https://img.shields.io/github/go-mod/go-version/gomods/athens.svg), [Go report card](https://godoc.org/github.com/redhat-developer/app-services-cli?status.svg) and [License](https://img.shields.io/badge/license-Apache--2.0-blue.svg).

[2022-10-12 16:14] jsvigneshkanna commented on #1761
Please assign this to my name, will implement this

[2022-10-12 16:28] rkpattnaik780 commented on #1761
Go ahead @jsvigneshkanna .

[2022-10-14 18:56] Thenitesh143 commented on #1738
I have just completed my first contribution. Is this a good project for a beginner like me. If yes please assign it to me. It's my humble request

[2022-10-14 19:03] rkpattnaik780 commented on #1738
Go ahead @Thenitesh143

[2022-10-14 19:19] #1761 closed

[2022-10-15 19:38] Thenitesh143 commented on #1738
Can someone help me i can't find the error message and don't understand what to do with namespace

[2022-10-16 17:19] rkpattnaik780 commented on #1738
Hello Nitesh
The error `❌ 410 Gone` is returned from the server. The code that returns the error is [here](https://github.com/redhat-developer/app-services-cli/blob/e69eae60b7656e93fdd8394f980f83d59444996b/pkg/shared/contextutil/util.go#L189). Currently the error is being returned as it is. We want to return a custom error like we have for [Kafka instances](https://github.com/redhat-developer/app-

[2022-10-16 17:44] wtrocki opened #1763 "`make format` formats vendor folder."
## Description

We should exclude vendor folder when running make format. Other commands can be inspected as well

[2022-10-17 08:39] rkpattnaik780 opened #1767 "Localize strings in request command"
The short description, long description and example for the `request` command currently use [raw strings](https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/request/request.go#L38-L45). They should be localized as in other commands. You can refer to [this example](https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/whoami/whoami.go#L34-L36).

A new `toml` fil

[2022-10-17 15:50] Thenitesh143 commented on #1738
I'm no more working on this issue

[2022-10-18 06:00] yati1998 commented on #1767
Can I work on this?

[2022-10-18 06:00] yati1998 commented on #1738
Can I work on this issue?

[2022-10-18 06:04] rkpattnaik780 commented on #1738
Go ahead @yati1998

[2022-10-19 10:10] #1738 closed

[2022-10-20 05:51] #1763 closed

[2022-10-20 11:27] #1728 closed

[2022-10-28 07:57] rmarting opened #1774 "Export artifacts from a Service Registry fails with a 406 Not Acceptable HTTP code"
## Description

**Version**: `0.51.4`

Export Artifacts from a Service Registry deployed in the Developer Sandbox is failing with the following exception:

[code]

### Steps to reproduce

1. Create a new Service Registry instance: `rhoas service-registry create --name my-registry`
2. Create a new Artifact: `rhoas service-registry artifact create --artifact-id my-artifact --file my-artifact.asvc --

[2022-10-28 08:53] wtrocki commented on #1774
Thank you for logging issue. Our team will take care of this issue.

[2022-10-28 08:54] wtrocki commented on #1774
CC @EricWittmann

[2022-10-28 09:21] rmarting opened #1776 "rhoas_service-registry_rule commands pages are not visible in the website"
## What have you loved?

It is amazing the [commands page](https://appservices.tech/commands/rhoas_whoami) to get online the information about how to use the `rhoas` cli.

## What was confusing or gave you pause?

However, the page is not updated with the latest version released, as some commands are not displayed in the side bar.

For example: `rhoas_sevice-registry_rule-*` are not visible, howev

[2022-10-28 09:24] wtrocki commented on #1776
@dimakis @jackdelahunt

Publishing of website stayed manuall. We need to automate it publish it manually.
See ./website folder

[2022-10-28 09:33] rmarting opened #1777 "Unable to start locally the documentation following the website/README.md file"
## Description

The current instructions (website/README.md file) to run locally the website is not working on my environment, and some requirements are missed to do it.

I am using a Fedora 26 SO.

### Steps to reproduce

Add the steps required to reproduce this error.

1. Run `yarn` command. OK
2. Run `yarn copyDocs`. KO

[code]

3. Run `npx docusaurus start` to start the server as it is describ

[2022-10-28 12:24] #1777 closed

[2022-10-29 07:07] #1767 closed

[2022-11-04 10:12] #1560 closed

[2022-11-04 11:31] #1774 closed

[2022-11-04 13:55] rmarting commented on #1774
When will be released this issue? Thanks!

[2022-11-04 16:26] rmarting commented on #1774
Just tested again with the latest version released, and it is also failing:

[code]

[2022-11-06 14:46] rkpattnaik780 commented on #1774
Hi @rmarting.
We will release a patch on Monday. Will update in thread once released.

[2022-11-07 10:25] rkpattnaik780 commented on #1774
Hi @rmarting .
A patch has been released. [v0.51.6](https://github.com/redhat-developer/app-services-cli/releases/tag/v0.51.6)

[2022-11-07 10:59] rmarting commented on #1774
@rkpattnaik780 Tested successfully with that version:

[code]

So, now we could confirm that this issue is closed! Thank you so much!